{% extends "extends/user/base.html" %}
{% load static %}

{% block head_css %}
    <style>
        @media (max-width: 576px) {
            .label-align {
                text-align: left;
            }
        }

        @media (min-width: 576px) {
            .label-align {
                text-align: right;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="id_nombre" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.nombre.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.nombre }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_apellido" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.apellido.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.apellido }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_apellido" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.email.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_password" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.password.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        {{ form.password }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-eye" onclick="mostrarPassword()"></i>
                                            </span>
                                            <script>
                                                function mostrarPassword() {
                                                    let tipo = document.getElementById("id_password");
                                                    if (tipo.type === "password") {
                                                        tipo.type = "text";
                                                    } else {
                                                        tipo.type = "password";
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0 row">
                                <span class="text-black-50 col-form-label col-md-3 col-sm-3 label-align">
                                    <a href="{% url 'password_change' %}">Cambiar contraseña</a>
                                </span>
                                <!-- TODO: Customizar plantilla de password_change -->
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">
                                <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {% if form.errors %}
        <script type="text/javascript">
            let errors = []
            {% for key, value in form.errors.items %}
                errors.push('{{ value|join:" " }}')
            {% endfor %}
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Ocurrió un error',
                text: errors.join('\n'),
                showConfirmButton: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% endif %}
{% endblock body_js %}