{% extends "extends/user/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <h5>Información del Ticket</h5>
                        <ul class="list-group">
                            <li class="list-group-item"><b>Ticket:</b> {{ ticket.id }}</li>
                            <li class="list-group-item"><b>Fecha de creación:</b> {{ ticket.date_created }}</li>
                            <li class="list-group-item"><b>Nombre del cliente:</b> {{ ticket.nombre }}</li>
                            <li class="list-group-item"><b>Nombre del evento:</b>{{ ticket.ticket_variante.evento }}</li>
                            <li class="list-group-item"><b>Tipo de entrada:</b> {{ ticket.ticket_variante.nombre }}</li>
                            <li class="list-group-item"><b>Precio de compra:</b> ${{ ticket.get_precio_compra }}</li>
                            <li class="list-group-item"><b>Estado del pago:</b> {{ ticket.get_estado_pago }}</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Código QR del Ticket</h5>
                        <img src="{{ ticket.get_qr_code }}" alt="QRCODE" class="img-bordered img-fluid mx-auto d-block mb-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
{% endblock body_js %}
