{% extends "extends/user/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <!-- Datos de la reserva -->
            <div class="card-header bg-primary">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5>Información de la Reserva</h5>
                        <ul class="list-group">
                            <li class="list-group-item"><b>Fecha y
                                Hora:</b> {{ reserva.fecha }}, {{ reserva.hora }}
                            </li>
                            <li class="list-group-item"><b>Nombre del cliente:</b> {{ reserva.nombre }}
                            </li>
                            <li class="list-group-item"><b>Correo del cliente:</b> {{ reserva.email }}
                            </li>
                            <li class="list-group-item"><b>Cancha reservada:</b> {{ reserva.cancha }}
                            </li>
                            <li class="list-group-item"><b>Con luz:</b> {{ reserva.get_CON_LUZ_display }}
                            </li>
                            <li class="list-group-item"><b>Precio de la reserva:</b> ${{ reserva.precio }}
                            </li>
                            <li class="list-group-item"><b>Nota:</b> {{ reserva.get_NOTA_display }}
                            </li>
                            <li class="list-group-item"><b>Estado de reserva:</b> {{ reserva.get_ESTADO_display }}
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Opciones Disponibles</h5>
                        {% if reserva.forma_pago == 2 %}
                            {% if pago_reserva %}
                                <a href="{% url 'reservas-comprobante' reserva.id %}"
                                   class="btn btn-block btn-outline-primary">
                                    <i class="fas fa-receipt"></i>
                                    Comprobante de pago
                                </a>
                            {% else %}
                                <a href="{% url 'reservas-pago' reserva.id %}"
                                   class="btn btn-block btn-outline-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                    Pagar reserva
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if not reserva.is_finished %}
                            <button id="btn-delete" type="button" class="btn btn-block btn-danger">
                                <i class="fa-solid fa-trash"></i>
                                Cancelar reserva
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    <script>
        $('#btn-delete').click(function () {
            window.location.href = "{% url 'reservas-baja' reserva.id %}";
        });
    </script>
{% endblock body_js %}
