{% extends 'extends/user/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Reservas</h3>
                    </div>
                    <div class="card-body text-center">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Eventos</h3>
                    </div>
                    <div class="card-body text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
{% endblock body_js %}