<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cancha liberada</title>
</head>
<body>
<p>La <strong>{{ reserva.cancha }}</strong> del establecimiento <strong>{{ reserva.cancha.club }}</strong> a las {{ reserva.hora }} del día {{ reserva.fecha }} ha sido liberada.
    Y está disponible para que la reserve.</p>
<br>
<!-- Descripción de la reserva -->
<p>Detalle de la reserva:</p>
<ul>
    <li><b>Establecimiento:</b> {{ reserva.cancha.club }}</li>
    <li><b>Deporte:</b> {{ reserva.deporte }}</li>
    <li><b>Cancha:</b> {{ reserva.cancha }}</li>
    <li><b>Fecha:</b> {{ reserva.fecha }}</li>
    <li><b>Hora:</b> {{ reserva.hora }}</li>
    <li><b>Precio de la reserva:</b> {{ reserva.precio }}</li>
    <li><b>Con luz:</b> {{ reserva.get_CON_LUZ_display }}</li>
</ul>
<br>
<p>Puede reservarla haciendo click en el siguiente enlace:</p>
<a href="{{ protocol }}://{{ domain }}{% url 'reserva-liberada-activate' uidb64=uid token=token %}?cancha_pk={{ reserva.cancha.pk }}&fecha={{ reserva.start_date }}&hora={{ reserva.hora }}">Reservar cancha</a>
</body>
</html>