{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin-persona-listado' %}">Personas</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block head_css %}
    <style>
        @media (max-width: 576px) {
            .label-align {
                text-align: left;
            }
        }

        @media (min-width: 576px) {
            .label-align {
                text-align: right;
            }
        }

        .image-area {
            border: 2px dashed rgba(0, 0, 0, 0.3);
            padding: 1rem;
            position: relative;
        }

        .image-area::before {
            content: 'Resultado de la imagen subida';
            color: rgba(0, 0, 0, 0.3);
            font-weight: bold;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.8rem;
            z-index: 1;
        }

        .image-area img {
            z-index: 2;
            position: relative;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 class="card-title">
                            <i class="fas fa-user-pen"></i>
                            {{ title }}
                        </h4>
                    </div>
                    <form id="formPersona" method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        {{ form.club }}
                        <div class="card-body">
                            {% if action == 'add' %}
                                <div class="form-group row">
                                    <label for="id_es_menor" class="col-form-label col-md-3 col-sm-3 label-align">
                                        {{ form.es_menor.label }}</label>
                                    <div class="col-sm-7">
                                        {{ form.es_menor }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group row">
                                <label id="id_persona_titular_label" for="id_persona_titular" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.persona_titular.label }} <span class="required"></span></label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        {{ form.persona_titular }}
                                        <div class="input-group-append">
                                            <a href="{% url 'admin-persona-crear' %}?titular=true"
                                               class="btn btn-primary">
                                                <i class="fas fa-user-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_cuil" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.cuil.label }} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.cuil }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_nombre" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.nombre.label }} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.nombre }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_apellido" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.apellido.label }} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.apellido }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_sexo" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.sexo.label }} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.sexo }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_fecha_nacimiento" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.fecha_nacimiento.label }} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <div class="input-group" id="div_id_fecha_nacimiento"
                                         data-target-input="nearest">
                                        {{ form.fecha_nacimiento }}
                                        <div class="input-group-append" data-target="#id_fecha_nacimiento"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.imagen.label }} <span class="required">*</span></label>
                                <div class="col-sm-7">
                                    <div class="custom-file" id="customFile" lang="es">
                                        {{ form.imagen }}
                                        <label class="custom-file-label" for="id_imagen">
                                            <span class="text-black-50">Seleccione una foto carnet</span>
                                        </label>
                                    </div>
                                    <!-- Uploaded image area-->
                                    <p class="font-italic text-black-50 text-center mt-2">
                                        La imagen subida se representará dentro del siguiente cuadro.
                                    </p>
                                    <div class="image-area mt-3">
                                        <img id="imageResult" src="#" alt=""
                                             style="max-height: 300px; max-width: 300px;"
                                             class="img-fluid rounded mx-auto d-block"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary float-right ml-2" type="submit" name="_save">
                                <i class="fa fa-save"></i> GUARDAR
                            </button>
                            <button class="btn btn-outline-primary float-right" type="submit" name="_addsocio">
                                <i class="fa fa-save"></i> Guardar y continuar con socio
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block body_js %}
    <!-- Tempus Dominus -->
    <link href="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.css' %}" media="all"
          rel="stylesheet">
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'libs/inputmask/jquery.inputmask.js' %}"></script>
    <script>
        $('#id_fecha_nacimiento').datetimepicker({
            "format": "DD/MM/YYYY",
            "locale": "es-AR",
            {% if action == 'add' %}"date": null,
                {% elif action == 'edit' %}"date": "{{ object.fecha_nacimiento|date:'d/m/Y' }}",
            {% endif %}
            "minDate": "1900-01-01",
            "maxDate": Date.now(),
        });
        $('#id_sexo').select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione un sexo',
            allowClear: true,
            width: '100%',
            language: 'es',
        });
        $('#id_persona_titular').select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione una persona titular',
            allowClear: true,
            language: 'es',
        });
        // El input id_cuil solo debe tener la forma de un CUIL/CUIT
        $('#id_cuil').inputmask({
            regex: "[0-9]{2}-[0-9]{8}-[0-9]",
            placeholder: '00-00000000-0',
            showMaskOnHover: false,
            showMaskOnFocus: false,
            clearMaskOnLostFocus: false,
            clearIncomplete: true,
        });

        // Función para validar el CUIL/CUIT Argentina
        function validarCUIL(cuil) {
            let cuil_nro = cuil.replace(/-/g, '');
            let resultado = 0;
            const codes = "6789456789";
            let verificador = parseInt(cuil_nro[cuil_nro.length - 1]);
            let i = 0;

            while (i < 10) {
                let digitoValidador = parseInt(codes.substring(i, i + 1));
                if (isNaN(digitoValidador)) digitoValidador = 0;
                let digito = parseInt(cuil_nro.substring(i, i + 1));
                if (isNaN(digito)) digito = 0;
                let digitoValidacion = digitoValidador * digito;
                resultado += digitoValidacion;
                i++;
            }
            resultado = resultado % 11;
            return resultado === verificador;
        }

        // Imagen preview
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            const fileName = document.getElementById("id_imagen").files[0].name;
            const nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName
            const reader = new FileReader();
            reader.onload = function () {
                const output = document.getElementById('imageResult');
                output.src = reader.result;
            };
            reader.readAsDataURL(e.target.files[0]);
        });

        // Función para calcular la edad a partir de la fecha de nacimiento
        function calcularEdad(fecha) {
            const [day, month, year] = fecha.split('/');
            const cumpleanos = new Date(+year, month - 1, +day);
            const hoy = new Date();
            let edad = hoy.getFullYear() - cumpleanos.getFullYear();
            const m = hoy.getMonth() - cumpleanos.getMonth();
            if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
                edad--;
            }
            return edad;
        }
        {% if action == 'add' %}
            $('#id_es_menor').change(function () {
                if ($(this).is(':checked')) {
                    $('#id_persona_titular').prop('required', true).val(null).trigger('change');
                    $('#id_persona_titular_label span').text('*');
                    $('#id_fecha_nacimiento').val(null).trigger('change');
                } else {
                    $('#id_persona_titular').prop('required', false).val(null).trigger('change');
                    $('#id_persona_titular_label span').text('');
                    $('#id_fecha_nacimiento').val(null).trigger('change');
                }
            });
        {% endif %}
        {% if action == 'edit' %}
            // Obtener el nombre del archivo de la imagen
            const imagen = "{{ persona.get_imagen | default_if_none:'' }}";
            const filename = imagen.split('\\').pop().split('/').pop();

            $('#id_imagen').val('').next().html('<span class="text-muted"> ' + filename + '</span>');
            $('#imageResult').attr('src', '{{ object.get_imagen }}');
        {% endif %}

        $('#formPersona').on('submit', function (e) {
            e.preventDefault();
            // Obtener el atributo name del botón que se presionó
            const name_submit = $(document.activeElement).attr('name');
            let form = new FormData(this);
            if (!validarCUIL(form.get('cuil'))) { // Validar el CUIL/CUIT
                Swal.fire({
                    position: 'top-end',
                    title: 'Error',
                    text: 'El CUIL ingresado no es válido.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar',
                });
                $('#id_cuil').addClass('is-invalid');
                return false;
            } else {
                $('#id_cuil').removeClass('is-invalid');
            }
            form.append('action', '{{ action }}');
            form.set('cuil', form.get('cuil').replace(/-/g, ''));
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: form,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (!data.hasOwnProperty('error')) {
                        {% if action == 'add' %}
                            Swal.fire({
                                position: 'top-end',
                                title: 'Persona agregada',
                                text: 'La persona se agregó correctamente',
                                icon: 'success',
                                confirmButtonText: 'Imprimir comprobante de operación',
                                showCancelButton: true,
                                cancelButtonText: 'Continuar',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.open('{% url 'admin-persona-comprobante' %}?action=print&persona_id=' + data['persona']['id'] + '', '_blank');
                                }
                                if (name_submit === '_save') {
                                    window.location.href = '{% url 'admin-persona-listado' %}';
                                } else if (name_submit === '_addsocio') {
                                    window.location.href = '{% url 'admin-socio-crear' %}';
                                }
                            });
                        {% endif %}
                        {% if action == 'edit' %}
                            if (name_submit === '_save') {
                                window.location.href = '{% url 'admin-persona-listado' %}';
                            } else if (name_submit === '_addsocio') {
                                window.location.href = '{% url 'admin-socio-crear' %}';
                            }
                        {% endif %}
                    } else {
                        let errors = []
                        // Si data error es un objeto pushear los errores al array
                        if (typeof data.error === 'object') {
                            $.each(data.error, function (key, value) {
                                errors.push(value);
                            });
                        } else {
                            errors = data.error
                        }
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Ocurrió un error',
                            text: errors,
                            showConfirmButton: true,
                        });
                    }
                },
                error: function () {
                    alert('Error al guardar la persona');
                }
            });
        });
    </script>
{% endblock body_js %}