{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Persona</li>
    </ol>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">Personas Registrados</h3>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'admin-persona-crear' %}" class="btn btn-success mb-3">
                            <i class="fas fa-plus pr-1"></i> Crear Nuevo
                        </a>
                        <table id="dataTable" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for persona in personas %}
                                <tr>
                                    <td>{{ persona.pk }}</td>
                                    <td>{{ persona.dni }}</td>
                                    <td>{{ persona.get_full_name }}</td>
                                    <td>{{ persona.get_edad }}</td>
                                    <td>
                                        <a href="{% url 'admin-persona-editar' persona.pk %}"
                                           class="btn btn-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {% include 'includes/dataTable.html' %}
{% endblock body_js %}