{% extends "extends/base.html" %}
{% load static %}
{% block head_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
{% endblock head_css %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'socio-listado' %}">Socios</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h4 class="card-title">{{ title }}</h4>
                        </div>
                        <div class="card-body">
                            <div id="div_socio">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="labels">{{ persona_form.dni.label }}</label>
                                            {{ persona_form.dni }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="labels">{{ persona_form.nombre.label }}</label>
                                            {{ persona_form.nombre }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="labels">{{ persona_form.apellido.label }}</label>
                                            {{ persona_form.apellido }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="labels">{{ persona_form.fecha_nacimiento.label }}</label>
                                            <div class="input-group" id="div_id_fecha_nacimiento"
                                                 data-target-input="nearest">
                                                <input type="text" name="fecha_nacimiento" autocomplete="off"
                                                       placeholder="Fecha de nacimiento"
                                                       class="form-control  datetimepicker-input"
                                                       data-toggle="datetimepicker" data-target="#id_fecha_nacimiento"
                                                       required=""
                                                       id="id_fecha_nacimiento">
                                                <div class="input-group-append" data-target="#id_fecha_nacimiento"
                                                     data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="labels">{{ categoria_form.categoria.label }}</label>
                                            {{ categoria_form.categoria }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="labels">{{ parentesco_form.parentesco.label }}</label>
                                            {{ parentesco_form.parentesco }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="labels">{{ persona_form.sexo.label }}</label>
                                            {{ persona_form.sexo }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="labels">{{ persona_form.imagen.label }}</label>
                                            {{ persona_form.imagen }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary profile-button" type="submit">Guardar Cambios</button>
                            <button class="btn btn-secondary" type="reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block body_js %}
    <!-- Django Tempus Dominus -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css"
          media="all" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script type="text/javascript">
        $('#id_fecha_nacimiento').datetimepicker({
            "format": "DD/MM/YYYY",
            "icons": {"time": "fa fa-clock-o"},
            "locale": "es-AR",
            "date": "{{ miembro.persona.get_fecha_nacimiento }}",
            "minDate": "1900-01-01",
            "maxDate": Date.now(),
        });
        $('#id_localidad').select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione una localidad',
            allowClear: true,
            width: '100%',
            language: 'es'
        });
        $('#id_sexo').select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione un sexo',
            allowClear: true,
            width: '100%',
            language: 'es'
        });
        $('#id_categoria').select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione una categoria',
            allowClear: true,
            width: '100%',
            language: 'es'
        });
        $('#id_parentesco').select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione un parentesco',
            allowClear: true,
            width: '100%',
            language: 'es'
        });

        $(document).ready(function () {
            // Obtener con ajax las catergorias de socio según la fecha de nacimiento que ya viene cargada
            let fecha_nacimiento = $('#id_fecha_nacimiento').datetimepicker('date');
            let datos = {
                'edad': getAge(fecha_nacimiento),
            }
            $.ajax({
                // Pasar una edad por GET para filtrar las categorias en la vista
                url: "{% url 'categoria-listado' %}",
                type: 'GET',
                data: datos,
                dataType: 'json',
                success: function (data) {
                    let select_categoria = $('#id_categoria');
                    // Guardar la categoria que estaba seleccionada
                    let select_categoria_value = select_categoria.val();
                    // Limpiar las categorias
                    select_categoria.empty();
                    // Agregar las categorias que vienen del ajax
                    select_categoria.append('<option value="">---------</option>');
                    $.each(data, function (key, value) {
                        $('#id_categoria').append('<option value="' + value.id + '">' + value.nombre + ' $' + value.cuota + '</option>');
                    });
                    // Selecionar la categoria que ya estaba seleccionada
                    select_categoria.val(select_categoria_value);
                },
            });

            // Obtener con ajax las categorias de socio según la edad
            $('#id_fecha_nacimiento').on('change.datetimepicker', function (e) {
                // Verificar que el input no esté vacío
                if ($(this).val()) {
                    let fecha_nacimiento = (e.date)
                    let datos = {
                        'edad': getAge(fecha_nacimiento),
                    }
                    $.ajax({
                        // Pasar una edad por GET para filtrar las categorias en la vista
                        url: "{% url 'categoria-listado' %}",
                        type: 'GET',
                        data: datos,
                        dataType: 'json',
                        success: function (data) {
                            // Actilet el campo de categoria
                            let select_categoria = $('#id_categoria');
                            // Quitar el atributo disabled
                            select_categoria.prop('disabled', false);
                            // Limpiar las categorias
                            select_categoria.empty();
                            // Agregar las categorias que vienen del ajax
                            select_categoria.append('<option value="">---------</option>');
                            $.each(data, function (key, value) {
                                $('#id_categoria').append('<option value="' + value.id + '">' + value.nombre + ' $' + value.cuota + '</option>');
                            });
                        },
                    });
                }
            });
        });

        // Función para obtener la edad a partir de la fecha de nacimiento
        function getAge(dateString) {
            let today = new Date();
            let birthDate = new Date(dateString);
            let age = today.getFullYear() - birthDate.getFullYear();
            let m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }
    </script>
    {% if persona_form.errors %}
        <script type="text/javascript">
            let errors = []
            {% for key, value in persona_form.errors.items %}
                errors.push('{{ value|join:" " }}')
            {% endfor %}
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Ocurrió un error',
                text: errors.join('\n'),
                showConfirmButton: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% endif %}
{% endblock body_js %}