{% extends "extends/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center text-center mb-3">
                    <img class="rounded-circle mt-5"
                         src="{{ object.user.get_imagen }}" alt="" style="max-width: 300px">
                </div>
            </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 class="card-title">{{ title }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b>DNI: </b>{{ object.user.usuariopersona.persona.dni }}</li>
                            <li class="list-group-item"><b>Nombre completo: </b>{{ object.user.get_full_name }}</li>
                            <li class="list-group-item"><b>Sexo: </b>{{ object.user.usuariopersona.persona.sexo }}</li>
                            <li class="list-group-item"><b>Edad: </b>{{ object.user.get_edad }}</li>
                            <li class="list-group-item">
                                <b>Localidad: </b>{{ object.user.usuariopersona.persona.localidad }}</li>
                            <li class="list-group-item">
                                <b>Dirección: </b>{{ object.user.usuariopersona.persona.direccion }}</li>
                            <li class="list-group-item"><b>Usuario: </b>{{ object.user.username }}</li>
                            <li class="list-group-item"><b>Email: </b>{{ object.user.email }}</li>
                            <li class="list-group-item">
                                <b>Fecha de creación: </b>{{ object.user.socioindividual.created_at }}
                            </li>
                            <li class="list-group-item">
                                <b>Última actualización: </b>{{ object.user.socioindividual.updated_at }}
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        {% if object.estado.code == 'FA' %}
                            <a href="{% url 'socio-aprobar' object.pk %}" class="btn btn-success mr-2">
                                <i class="fa-solid fa-check"></i> Aprobar
                            </a>
                            <a href="{% url 'socio-rechazar' object.pk %}" class="btn btn-danger mr-2">
                                <i class="fa-solid fa-xmark"></i> Rechazar
                            </a>
                        {% elif object.estado.code == 'RE' %}
                            <a href="{% url 'socio-aprobar' object.pk %}" class="btn btn-success mr-2">
                                <i class="fa-solid fa-check"></i> Aprobar
                            </a>
                        {% endif %}
                        <a href="{% url 'socios' %}" class="btn btn-secondary">
                            <i class="fa-solid fa-rotate-left"></i> Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}