{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Socios Registrados</h3>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary mb-3" href="{% url 'socio-crear' %}">Crear Nuevo</a>
                        <table id="dataTable" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Estado</th>
                                <th scope="col" style="">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for socio in socios %}
                                <tr>
                                    <td>{{ socio.persona.dni }}</td>
                                    <td>{{ socio.persona.get_full_name }}</td>
                                    <td>{{ socio.persona.get_edad }}</td>
                                    <td>{{ socio.categoria }}</td>
                                    {% if not socio.is_deleted %}
                                        {% if socio.estado.is_active %}
                                            <td><span class="badge badge-success">{{ socio.estado }}</span></td>
                                        {% else %}
                                            <td><span class="badge badge-danger">{{ socio.estado }}</span></td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'socio-detalle' socio.pk %}" class="btn btn-info btn-sm">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a href="{% url 'socio-editar' socio.pk %}" class="btn btn-warning btn-sm">
                                                <i class="fa-solid fa-edit"></i>
                                            </a>
                                            <a href="{% url 'socio-eliminar' socio.pk %}" class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td><span class="badge badge-danger">Eliminado</span></td>
                                        <td>
                                            <a href="{% url 'socio-restaurar' socio.pk %}" class="btn btn-success btn-sm">
                                                <i class="fa-solid fa-rotate-left"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Estado</th>
                                <th scope="col" style="">Acciones</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {% include 'includes/dataTable.html' %}
{% endblock body_js %}
