{% extends "extends/admin/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index_admin' %}">Inicio</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">Eventos Registrados</h3>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'admin-eventos-crear' %}" class="btn btn-success">
                            <i class="fas fa-plus pr-1"></i> Agregar Evento
                        </a>
                        <hr>
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col" style="">Nombre</th>
                                <th scope="col" style="">Fecha de inicio</th>
                                <th scope="col" style="">Fecha de finalización</th>
                                <th scope="col" style="">Estado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for evento in eventos %}
                                <tr>
                                    <td>{{ evento.nombre }}</td>
                                    <td>{{ evento.get_FECHA_INICIO_display }}</td>
                                    <td>{{ evento.get_FECHA_FIN_display }}</td>
                                    <td>{{ evento.get_ESTADO_display }}</td>
                                    <td>
                                        <a href="{% url 'admin-eventos-editar' evento.pk %}"
                                           class="btn btn-sm btn-warning">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'admin-eventos-baja' evento.pk %}"
                                           class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">Nombre</th>
                                <th scope="col" style="">Fecha de inicio</th>
                                <th scope="col" style="">Fecha de finalización</th>
                                <th scope="col" style="">Estado</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {# DataTable #}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/datatables.css' %}"/>
    <script type="text/javascript" src="{% static 'libs/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/DataTables/Select-1.5.0/js/dataTables.select.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.13.2/sorting/datetime-moment.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD/MM/YYYY HH:mm');
            $('#dataTable').DataTable({
                language: {
                    url: '{% static 'libs/datatables/es-ES.json' %}'
                },
                columnDefs: [ // Quitarle estilos a la ultima columna
                    {"orderable": false, "targets": -1}
                ],
                responsive: true,
                order: [[1, 'desc']],
                autoWidth: false
            });
        });
    </script>
{% endblock body_js %}