{% extends "extends/admin/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">Eventos Registrados</h3>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'admin-eventos-crear' %}" class="btn btn-success">
                            <i class="fas fa-plus pr-1"></i> Agregar Evento
                        </a>
                        <hr>
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col" style="">Nombre</th>
                                <th scope="col" style="">Fecha de inicio</th>
                                <th scope="col" style="">Fecha de finalización</th>
                                <th scope="col" style="">Fecha de creación</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for evento in eventos %}
                                <tr>
                                    <td>{{ evento.nombre }}</td>
                                    <td>{{ evento.get_start_datetime }}</td>
                                    <td>{{ evento.get_end_datetime }}</td>
                                    <td>{{ evento.date_created }}</td>
                                    <td>
                                        <a href="{% url 'admin-eventos-editar' evento.pk %}" class="btn btn-sm btn-warning">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'admin-eventos-baja' evento.pk %}" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">Nombre</th>
                                <th scope="col" style="">Fecha de inicio</th>
                                <th scope="col" style="">Fecha de finalización</th>
                                <th scope="col" style="">Fecha de creación</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {# DataTable #}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/datatables.css' %}"/>
    <script type="text/javascript" src="{% static 'libs/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/DataTables/Select-1.5.0/js/dataTables.select.js' %}"></script>
    {# Datatable Internacionalización #}
    <script src="{% static 'libs/datatables/es-ES.json' %}"></script>
    <script>
        let table = $('#dataTable');

        table.DataTable({
            responsive: true,
            lengthChange: false,
            order: [[0, 'desc']],
            autoWidth: false,
            // Quitarle estilos a la ultima columna
            columnDefs: [
                {"orderable": false, "targets": -1}
            ],
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros por página",
                zeroRecords: "No se encontraron eventos",
                info: "Mostrando página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros disponibles",
                infoFiltered: "(filtrado de _MAX_ registros totales)",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                },
            }
        });
    </script>
{% endblock body_js %}