{% extends "extends/user/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h2>{{ evento }}</h2>
                        <!-- Imagen del Evento -->
                        <img src="{{ evento.get_imagen }}" alt="Imagen del Evento" class="img-fluid">
                        <p>{{ evento.descripcion }}</p>
                    </div>
                    <div class="col">
                        <h3>Comprar Tickets</h3>
                        <form method="post">
                            {% csrf_token %}
                            <!-- Input action con value orden -->
                            <input type="hidden" name="action" value="orden">
                            {% for ticket_variante in ticket_variante_list %}
                                <label for="ticket_variante">
                                    <!-- Input de cantidad con referencia al ticket_variante -->
                                    <input type="number" name="cantidad_{{ ticket_variante.id }}" min="0" value="0" required>
                                    {{ ticket_variante.nombre }} - ${{ ticket_variante.precio }}
                                </label>
                                <br>
                            {% endfor %}
                            <br>
                            <input type="submit" value="Comprar" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
{% endblock body_js %}
