{% extends "extends/user/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <div class="card-body">
                        <h5>Detalle de la Compra</h5>
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="center">#</th>
                                    <th><strong>Ticket</strong></th>
                                    <th class="text-right"><strong>Precio Unitario</strong></th>
                                    <th class="text-right"><strong>Cantidad</strong></th>
                                    <th class="text-right"><strong>Total</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="left strong">{{ item.ticket_variante }}</td>
                                        <td class="text-right">${{ item.precio_unit }}</td>
                                        <td class="text-right">{{ item.cantidad }}</td>
                                        <td class="text-right">${{ item.subtotal }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-7 ml-auto table-responsive">
                                <table class="table table-clear">
                                    <tbody>
                                    <tr>
                                        <td class="left">
                                            <strong>Subtotal</strong>
                                        </td>
                                        <td class="text-right">${{ subtotal }}</td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Descuento ({{ descuento_socio }}%)</strong>
                                        </td>
                                        <td class="text-right">-${{ descuento_valor }}<br>
                                            {% if descuento_valor > 0 %}
                                                <small class="text-muted">
                                                    Se ha aplicado el descuento por ser socio del club.
                                                </small>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Total</strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>${{ total }}</strong><br>
                                            <p class="text-muted text-right">{{ total_letras }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                data-target="#tickets">
                            Siguiente <i class="fas fa-arrow-right"></i>
                        </button>
                        <a href="{% url 'eventos-detalle' evento.pk %}"
                           class="btn btn-default">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Información del Evento</h3>
                    </div>
                    <div class="card-body">
                        <img src="{{ evento.get_imagen }}" alt="Imagen del Evento"
                             width="300px" height="300px"
                             class="img-fluid rounded mx-auto d-block mb-3">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Nombre:</b> {{ evento.nombre }}</li>
                            <li class="list-group-item"><b>Fecha de inicio:</b> {{ evento.get_start_datetime }}</li>
                            <li class="list-group-item"><b>Fecha de finalización:</b> {{ evento.get_end_datetime }}</li>
                            <li class="list-group-item"><b>Descripción:</b> {{ evento.descripcion }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="tickets" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información de los Tickets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="pago">
                        <label for="id_email">Email comprador</label>
                        <input type="email" id="id_email" name="email" placeholder="Ingrese su email"
                               {% if user.is_authenticated %}value="{{ user.email }}"{% endif %}
                               class="form-control" required>
                        <hr>
                        {% for ticket in tickets %}
                            <label for="id_nombre_{{ ticket.ticket_variante_id }}_{{ forloop.counter0 }}">
                                {{ forloop.counter }}. {{ ticket.ticket_variante }}
                            </label>
                            <input type="text" id="id_dni_{{ ticket.ticket_variante_id }}_{{ forloop.counter0 }}"
                                   name="dni_{{ ticket.ticket_variante_id }}_{{ forloop.counter0 }}"
                                   placeholder="DNI de la persona" class="form-control mb-2" required>
                            <input type="text" id="id_nombre_{{ ticket.ticket_variante_id }}_{{ forloop.counter0 }}"
                                   name="nombre_{{ ticket.ticket_variante_id }}_{{ forloop.counter0 }}"
                                   placeholder="Nombre completo que figura en el DNI" class="form-control mb-3" required>
                        {% endfor %}
                        <small class="text-muted">
                            Revise que los datos ingresados sean correctos, ya que no se podrá realizar cambios una vez
                            pagado y se compromete a momento de asistir al evento.
                        </small>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary float-right">
                            <i class="fas fa-dollar-sign"></i> Pagar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
{% endblock body_js %}
