{% if messages %}
    <script>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                Swal.fire({
                    position: 'top-end',
                    icon: '{{ message.tags }}',
                    title: 'Bien hecho!',
                    text: `{{ message }}`,
                    showConfirmButton: false,
                    timer: 5000,
                    timerProgressBar: true,
                })
                document.body.classList.remove('swal2-height-auto');
            {% endif %}
            {% if message.tags == 'error' %}
                Swal.fire({
                    position: 'top-end',
                    icon: '{{ message.tags }}',
                    title: 'Ocurrió un error',
                    text: `{{ message }}`,
                    showConfirmButton: true,
                })
                document.body.classList.remove('swal2-height-auto');
            {% endif %}
        {% endfor %}
    </script>
{% endif %}