{% load static %}
{% load active_link_tags %}
{% if user.is_authenticated %}
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{% url 'index' %}" class="brand-link">
            <img src="{% static 'icons/icons8-silbato.svg' %}" alt="Logo" class="brand-image img-circle elevation-3">
            <span class="brand-text font-light text-bold">RESERVÁ</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            {% if not user.is_admin %}
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="{{ user.persona.get_imagen }}" class="img-circle elevation-2" alt="User Imagen">
                    </div>
                    <div class="info">
                        <a href="{% url 'persona' %}" class="d-block">{{ user.persona.get_short_name }}</a>
                    </div>
                </div>
            {% endif %}
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    {% if user.is_admin %}
                        <li class="nav-item">
                            <a href="#" class="nav-link {% active_link 'club' %}">
                                <img src="{% static 'icons/icons8-club.svg' %}" class="nav-icon" alt="icon">
                                <p>
                                    Mi Club
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'club-detalles' %}"
                                       class="nav-link {% active_link 'club-detalles' %}">
                                        <i class="fa-solid fa-info nav-icon"></i>
                                        <p>
                                            Detalles
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'admin-club-parametros' %}"
                                       class="nav-link {% active_link 'admin-club-parametros' %}">
                                        <i class="fa-solid fa-sliders nav-icon"></i>
                                        <p>Parámetros
                                            <span class="right badge badge-danger">New</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link {% active_link 'admin-persona' %}">
                                <i class="fas fa-user nav-icon"></i>
                                <p>
                                    Personas
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'admin-persona-listado' %}"
                                       class="nav-link {% active_link 'admin-persona-listado' %}">
                                        <i class="fa-solid fa-rectangle-list nav-icon"></i>
                                        <p>Listado</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link {% active_link 'admin-socio' %}">
                                <img src="{% static 'icons/icons8-socio.svg' %}" class="nav-icon" alt="icon">
                                <p>
                                    Socios
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'admin-socio-listado' %}"
                                       class="nav-link {% active_link 'admin-socio-listado' %}">
                                        <i class="fa-solid fa-rectangle-list nav-icon"></i>
                                        <p>Listado</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'admin-socio-solicitudes' %}"
                                       class="nav-link {% active_link 'admin-socio-solicitudes' %}">
                                        <i class="fa-solid fa-list-check nav-icon"></i>
                                        <p>
                                            Solicitudes
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#"
                               class="nav-link {% active_link 'admin-cuota' %}">
                                <i class="fa-solid fa-receipt nav-icon"></i>
                                <p>Cuotas
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'admin-cuota-listado' %}"
                                       class="nav-link {% active_link 'admin-cuota-listado' %}">
                                        <i class="fa-solid fa-rectangle-list nav-icon"></i>
                                        <p>Listado</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.is_socio %}
                        <li class="nav-item">
                            <a href="{% url 'persona' %}"
                               class="nav-link {% active_link 'persona' %}">
                                <i class="fa-solid fa-user nav-icon"></i>
                                <p>Mi Perfil</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'socio-datos' %}"
                               class="nav-link {% active_link 'socio-datos' %}">
                                <i class="fa-solid fa-id-card nav-icon"></i>
                                <p>Mi Socio</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'socio-cuotas' %}"
                               class="nav-link {% active_link 'socio-cuotas' %}">
                                <i class="fa-solid fa-receipt nav-icon"></i>
                                <p>Mis Cuotas
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{% endif %}