{% extends 'extends/user/base.html' %}
{% load static %}

{% block head_css %}
    <style>
        @media (max-width: 576px) {
            .label-align {
                text-align: left;
            }
        }

        @media (min-width: 576px) {
            .label-align {
                text-align: right;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Reservas</h3>
                    </div>
                    <form id="reserva_form" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="id_deporte" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ reserva_form.deporte.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ reserva_form.deporte }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_fecha" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ reserva_form.fecha.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="input-group" id="div_id_fecha"
                                         data-target-input="nearest">
                                        {{ reserva_form.fecha }}
                                        <div class="input-group-append" data-target="#id_fecha"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_hora" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ reserva_form.hora.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ reserva_form.hora }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success float-right">Ver Disponibilidad</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Eventos</h3>
                    </div>
                    <div class="card-body">
                        <!-- Lista de eventos -->
                        <div class="d-flex justify-content-center row">
                            <div class="col-md-10">
                                {% if not eventos %}
                                    <div class="alert alert-info" role="alert">
                                        No hay eventos disponibles
                                    </div>
                                {% else %}
                                    {% for evento in eventos %}
                                        <div class="row p-2 border rounded mb-2" style="background-color: #DAECFF">
                                            <div class="col-sm-3 mt-1 mb-1">
                                                <img class="img-fluid rounded mx-auto d-block" alt="Imagen de evento"
                                                     src="{{ evento.get_imagen }}">
                                            </div>
                                            <div class="col-sm-6 mt-1">
                                                <h5>{{ evento.nombre }}</h5>
                                                <div class="d-flex flex-row">
                                                    <time datetime="{{ evento.get_start_datetime }}">
                                                        <i class="fas fa-calendar-alt mr-2"></i>{{ evento.get_start_datetime }}
                                                    </time>
                                                </div>
                                                <br>
                                                <p class="text-justify text-truncate">{{ evento.descripcion }}</p>
                                            </div>
                                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                                <div class="d-flex flex-row align-items-center">
                                                    <h4 class="mr-1"><small>desde</small>
                                                        ${{ evento.get_ticket_variante_lower_price }}</h4>
                                                </div>
                                                <a href="{% url 'eventos-detalle' evento.pk %}"
                                                   class="btn btn-block btn-primary btn-sm">
                                                    <i class="fas fa-shopping-cart"></i> Detalle</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="d-flex justify-content-center">
                                        <a href="{% url 'eventos-listado' %}" class="btn btn-primary">Ver todos</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    <!-- Tempus Dominus -->
    <link href="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.css' %}" media="all"
          rel="stylesheet">
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script>
        let selectDeporte = $('#id_deporte');
        let selectCancha = $('#id_cancha');
        let inputFecha = $('#id_fecha');
        let selectHora = $('#id_hora');
        selectDeporte.select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione un deporte',
            allowClear: true,
            width: '100%',
            language: 'es',
            required: true,
        });
        selectCancha.select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione una cancha disponible',
            allowClear: true,
            width: '100%',
            language: 'es',
        });
        selectHora.select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione una hora',
            allowClear: true,
            width: '100%',
            language: 'es',
        });
        inputFecha.datetimepicker({
            "format": "L",
            "locale": "es-AR",
            "date": new Date(),
            "minDate": moment().startOf('day'),
            "maxDate": moment().add(2, 'weeks'),
        });
    </script>
{% endblock body_js %}