{% extends "base.html" %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icheck-bootstrap@3.0.1/icheck-bootstrap.min.css">
{% endblock stylesheets %}

{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block content %}
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="{% url 'index' %}" class="h1">RESERVÁ</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Iniciar sesión</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.username }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="icheck-primary">
                            {{ form.remember_me }}
                            <label for="id_remember_me"> Remember me</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button name="login" class="col-md-12 btn btn-primary" id="login">Sign in</button>
                    </div>
                </form>
                <p class="mb-1">
                    <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
                </p>
                <p class="mb-0">
                    Nuevo en el sitio? <a href="{% url 'register' %}">Registrarse</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {% if form.errors %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Ocurrió un error',
                {% for key, value in form.errors.items %}
                    text: '{{ value|join:" " }}',
                {% endfor %}
                showConfirmButton: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% endif %}
{% endblock javascripts %}