{% extends "base.html" %}
{% load widget_tweaks %}

{% block body_class %} hold-transition register-page{% endblock body_class %}

{% block content %}
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1">RESERVÁ</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Registrar un nuevo usuario</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                            {{ form.first_name.errors }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                            {{ form.last_name.errors }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            {{ form.password1.label_tag }}
                            {{ form.password1 }}
                            {{ form.password1.errors }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            {{ form.password2.label_tag }}
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                        </div>
                    </div>
                </form>
                <a href="{% url 'login' %}" class="text-center">Ya tengo cuenta</a>
            </div>
        </div>
    </div>
{% endblock content %}