{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Datos Personales</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center text-center mb-3">
                    <img class="rounded-circle mt-5"
                         src="{{ user.persona.get_imagen }}" alt="" style="max-width: 300px">
                    <span class="font-weight-bold mt-3">{{ user.username }}</span>
                    <span class="text-black-50">{{ user.email }}</span>
                    <span class="text-black-50"><a href="{% url 'password_change' %}">Cambiar contraseña</a></span>
                </div>
            </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 class="card-title">{{ title }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <b>Categoria: </b>{{ user.persona.socio.categoria }}</li>
                            <li class="list-group-item"><b>DNI: </b>{{ user.persona.dni }}</li>
                            <li class="list-group-item"><b>Nombre
                                completo: </b>{{ user.persona.get_full_name }}</li>
                            <li class="list-group-item"><b>Sexo: </b>{{ user.persona.sexo }}</li>
                            <li class="list-group-item"><b>Edad: </b>{{ user.persona.get_edad }}</li>
                            <li class="list-group-item"><b>Usuario: </b>{{ user.persona.user.username }}</li>
                            <li class="list-group-item"><b>Email: </b>{{ user.persona.user.email }}</li>
                            <li class="list-group-item">
                                <b>Fecha de creación: </b>{{ user.persona.user.date_joined }}
                            </li>
                            <li class="list-group-item">
                                <b>Último inicio de sesión: </b>{{ user.persona.user.last_login }}
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'index' %}" class="btn btn-secondary">
                            <i class="fa-solid fa-rotate-left"></i> Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
{% endblock body_js %}