{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Perfil</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center text-center mb-3">
                    <img class="rounded-circle mt-5"
                         src="{{ user.profile.get_avatar }}" alt="" style="max-width: 300px">
                    <span class="font-weight-bold mt-3">{{ user.username }}</span>
                    <span class="text-black-50">{{ user.email }}</span>
                    {% if user.is_superuser or user.is_staff %}
                        <span><strong>Administrador del Sistema</strong></span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-7">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h4 class="card-title">Actualizar Perfil</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="labels">{{ user_form.first_name.label }}</label>
                                {{ user_form.first_name }}
                            </div>
                            <div class="form-group">
                                <label class="labels">{{ user_form.last_name.label }}</label>
                                {{ user_form.last_name }}
                            </div>
                            <div class="form-group">
                                <label for="customFileLang">Avatar</label>
                                <div class="input-group">
                                    {{ profile_form.avatar }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="labels">{{ profile_form.bio.label }}</label>
                                {{ profile_form.bio }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary profile-button" type="submit">Guardar Cambios</button>
                            <button class="btn btn-secondary" type="reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {% if user_form.errors %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Ocurrió un error',
                {% for key, value in user_form.errors.items %}
                    text: '{{ value|join:" " }}',
                {% endfor %}
                showConfirmButton: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% elif profile_form.errors %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Ocurrió un error',
                {% for key, value in profile_form.errors.items %}
                    text: '{{ value|join:" " }}',
                {% endfor %}
                showConfirmButton: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% endif %}
{% endblock javascripts %}