{% extends "extends/admin/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin-reservas-listado' %}">Reservas</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <!-- Datos de la reserva -->
                    <div class="card-header bg-primary">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5>Información de la Reserva</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Fecha y
                                        Hora:</b> {{ reserva.fecha }}, {{ reserva.hora }}
                                    </li>
                                    <li class="list-group-item"><b>Nombre del Cliente:</b> {{ reserva.nombre }}
                                    </li>
                                    <li class="list-group-item"><b>Correo del Cliente:</b> {{ reserva.email }}
                                    </li>
                                    <li class="list-group-item"><b>Cancha Reservada:</b> {{ reserva.cancha }}
                                    </li>
                                    <li class="list-group-item"><b>Forma de
                                        Pago:</b> {{ reserva.get_FORMA_PAGO_display }}
                                    </li>
                                    <li class="list-group-item"><b>Nota:</b> {{ reserva.nota }}
                                    </li>
                                    <li class="list-group-item"><b>Fecha de creación:</b> {{ reserva.created_at }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h5>Opciones</h5>
                                <button id="btn-linkPay" type="button" class="btn btn-block btn-outline-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                    Obtener Link de Pago
                                </button>
                                <button id="btn-checkAsis" type="button" class="btn btn-block btn-success">
                                    <i class="fas fa-calendar-check"></i>
                                    Marcar como Asistida
                                </button>
                                <button id="btn-edit" class="btn btn-block btn-warning">
                                    <i class="fas fa-edit"></i>
                                    Editar Reserva
                                </button>
                                <button id="btn-delete" type="button" class="btn btn-block btn-danger">
                                    <i class="fa-solid fa-ban"></i>
                                    Cancelar Reserva
                                </button>
                            </div>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            This is a primary alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <!-- Pagos realizados -->
                    <div class="card-header">
                        <h3 class="card-title">Pagos realizados</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    <script>
        {% if reserva.forma_pago == 1 %}
            $('#btn-linkPay').attr('disabled', true);
        {% endif %}
        {% if not reserva.is_editable %}
            $('#btn-edit').attr('disabled', true);
        {% endif %}
        {% if reserva.is_finished %}
            $('#btn-delete').attr('disabled', true);
        {% else %}
            $('#btn-checkAsis').attr('disabled', true);
        {% endif %}

        $('#btn-edit').click(function () {
            window.location.href = "{% url 'admin-reservas-editar' reserva.id %}";
        });
        $('#btn-delete').click(function () {
            window.location.href = "{% url 'admin-reservas-baja' reserva.id %}";
        });
    </script>
{% endblock body_js %}
