{% extends "extends/admin/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin-reservas-listado' %}">Reservas</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <!-- Datos de la reserva -->
                    <div class="card-header bg-primary">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5>Información de la Reserva</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Fecha y
                                        Hora:</b> {{ reserva.fecha }}, {{ reserva.hora }}
                                    </li>
                                    <li class="list-group-item"><b>Nombre del cliente:</b> {{ reserva.nombre }}
                                    </li>
                                    <li class="list-group-item"><b>Correo del cliente:</b> {{ reserva.email }}
                                    </li>
                                    <li class="list-group-item"><b>Cancha reservada:</b> {{ reserva.cancha }}
                                    </li>
                                    <li class="list-group-item"><b>Forma de
                                        pago:</b> {{ reserva.get_FORMA_PAGO_display }}
                                    </li>
                                    <li class="list-group-item"><b>Monto a pagar:</b> ${{ reserva.get_price }}
                                    </li>
                                    <li class="list-group-item"><b>Nota:</b> {{ reserva.nota }}
                                    </li>
                                    <li class="list-group-item"><b>Fecha de creación:</b> {{ reserva.created_at }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h5>Opciones Disponibles</h5>
                                <button id="btn-linkPay" type="button" class="btn btn-block btn-outline-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                    Obtener Link de Pago
                                </button>
                                <button id="btn-checkAsis" type="button" class="btn btn-block btn-success">
                                    <i class="fas fa-calendar-check"></i>
                                    Marcar como Asistida
                                </button>
                                <button id="btn-edit" class="btn btn-block btn-warning">
                                    <i class="fas fa-edit"></i>
                                    Editar Reserva
                                </button>
                                <button id="btn-delete" type="button" class="btn btn-block btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                    Dar de Baja
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <!-- Pagos realizados -->
                    <div class="card-header">
                        <h3 class="card-title">Pagos realizados</h3>
                    </div>
                    <div class="card-body">
                        {% if pago %}
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Fecha de creación</th>
                                        <th>Monto de la transacción</th>
                                        <th>Estado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ pago.date_created }}</td>
                                        <td>${{ pago.transaction_amount }}</td>
                                        <td>{{ pago.status }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                No se han realizado pagos para esta reserva.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    <script>
        {% if reserva.is_paid %}
            $('#btn-linkPay').hide();
        {% endif %}
        {% if not reserva.is_finished %}
            $('#btn-checkAsis').hide();
        {% endif %}

        $('#btn-linkPay').click(function () {
            // Copiar en el portapapeles el link de pago
            var link = "127.0.0.1:8000{% url 'reserva-pago' reserva.id %}";
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(link).select();
            document.execCommand("copy");
            $temp.remove();
            // Mostrar mensaje de éxito
            Swal.fire({
                position: 'top-end',
                title: '¡Listo!',
                text: 'El link de pago ha sido copiado al portapapeles',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        });
        $('#btn-edit').click(function () {
            window.location.href = "{% url 'admin-reservas-editar' reserva.id %}";
        });
        $('#btn-delete').click(function () {
            window.location.href = "{% url 'admin-reservas-baja' reserva.id %}";
        });
    </script>
{% endblock body_js %}
