{% extends "extends/user/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h2>{{ evento }}</h2>
                        <!-- Imagen del Evento -->
                        <img src="{{ evento.get_imagen }}" alt="Imagen del Evento" class="img-fluid">
                        <p>{{ evento.descripcion }}</p>
                    </div>
                    <div class="col">
                        <h3>Detalle de la Compra</h3>
                        {% for item in items %}
                            <p>{{ item.ticket_variante }}</p>
                            <p>{{ item.cantidad }}</p>
                            <p>{{ item.subtotal }}</p>
                        {% endfor %}
                        <p>Total: {{ total }}</p>
                        <form method="post">
                            <input type="hidden" name="action" value="pago">
                            {% csrf_token %}
                            {% for item in items %}
                                <input type="hidden" name="cantidad_{{ item.ticket_variante_id }}" value="{{ item.cantidad }}">
                            {% endfor %}
                            <input type="submit" value="Pagar" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
{% endblock body_js %}
