{% extends "index.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container-fluid mt-5">
        <div class="card card-primary">
            <div class="card-header">
                <h4 class="card-title">{{ title }}</h4>
            </div>
            <div class="card-body">
                <a href="{% url 'club_create' %}" class="btn btn-primary mb-3">
                    <i class="fas fa-plus"></i> Agregar {{ model_name }}
                </a>
                <table class="table table-hover table-bordered mt-1" id="data">
                    <thead class="bg-gray-dark">
                    <tr>
                        <th scope="col" style="width: 20%;">#</th>
                        <th scope="col" style="width: 70%;">Nombre</th>
                        <th scope="col" style="width: 10%;">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.id }}</td>
                            <td>{{ object.nombre }}</td>
                            <td>
                                <a href="{% url 'club_update' object.id %}"
                                   class="btn btn-outline-warning">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'club_delete' object.id %}"
                                   type="button"
                                   class="btn btn-outline-danger btn-delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if all_model_deleted %}
                    <div class="text mt-5">
                        <h3>{{ model_name_plural }} Eliminados</h3>
                    </div>
                    <table class="table table-hover table-bordered mt-3">
                        <thead class="bg-gray-dark">
                        <tr>
                            <th scope="col" style="width: 20%;">#</th>
                            <th scope="col" style="width: 70%;">Nombre</th>
                            <th scope="col" style="width: 10%;">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in all_model_deleted %}
                            <tr>
                                <td>{{ object.id }}</td>
                                <td>{{ object.nombre }}</td>
                                <td>
                                    <a href="{% url 'club_restore' object.id %}"
                                       type="button"
                                       class="btn btn-outline-danger btn-restore">
                                        <i class="fa fa-undo"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {% if model_deleted %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'EL {{ model_name }} <strong>{{ model_deleted }}</strong> ha sido eliminado',
                showConfirmButton: true,
                showCancelButton: false,
                confirmButtonText: '<a class="text-white" href="{% url 'club_restore' model_deleted.pk %}">Deshacer <i class="fa fa-undo" aria-hidden="true"></i></a>',
                timer: 5000,
                timerProgressBar: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% endif %}
{% endblock javascripts %}