{% extends "extends/base.html" %}
{% load static %}

{% block head_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
{% endblock head_css %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Club</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center text-center mb-3">
                    <img class="rounded-circle mt-5"
                         src="{{ object.get_logo }}" alt="" style="max-width: 300px">
                    <span class="font-weight-bold mt-3">{{ object.nombre }}</span>
                </div>
            </div>
            <div class="col-md-7">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h4 class="card-title">Actualizar Club</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="labels">{{ club_form.nombre.label }}</label>
                                {{ club_form.nombre }}
                            </div>
                            <div class="form-group">
                                <label class="labels">{{ club_form.localidad.label }}</label>
                                {{ club_form.localidad }}
                            </div>
                            <div class="form-group">
                                <label class="labels">{{ club_form.direccion.label }}</label>
                                {{ club_form.direccion }}
                            </div>
                            <div class="form-group">
                                <label for="customFileLang">{{ club_form.logo.label }}</label>
                                <div class="input-group">
                                    {{ club_form.logo }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary profile-button" type="submit">Guardar Cambios</button>
                            <button class="btn btn-secondary" type="reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_localidad').select2({
                theme: 'bootstrap4',
                placeholder: 'Seleccione una localidad',
                allowClear: true,
                width: '100%',
                language: 'es'
            });
        });
    </script>
    {% if club_form.errors %}
        <script type="text/javascript">
            let errors = []
            {% for key, value in club_form.errors.items %}
                errors.push('{{ value|join:" " }}')
            {% endfor %}
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Ocurrió un error',
                text: errors.join('\n'),
                showConfirmButton: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% endif %}
{% endblock body_js %}