{% extends "index.html" %}
{% load static %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
    <style>
        .select2-container {
            width: 100% !important;
        }
        .select2-selection__choice__display {
            color: #000 !important;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-4">
                {% if object %}
                    <div class="d-flex flex-column align-items-center text-center mb-3">
                        <img class="rounded-circle mt-5"
                             src="{{ object.get_logo }}" alt="" style="max-width: 300px">
                        <span class="font-weight-bold mt-3">{{ object.nombre }}</span>
                    </div>
                {% else %}
                    <div class="d-flex flex-column align-items-center text-center mb-3">
                        <img class="rounded-circle mt-5"
                             src="{% static 'img/empty.png' %}" alt="" style="max-width: 300px">
                        <span class="font-weight-bold mt-3">No hay datos</span>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-7">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h4 class="card-title">{{ title }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="labels">{{ form.nombre.label }}</label>
                                {{ form.nombre }}
                            </div>
                            <div class="form-group">
                                <label class="labels">{{ form.localidad.label }}</label>
                                {{ form.localidad }}
                            </div>
                            <div class="form-group">
                                <label class="labels">{{ form.direccion.label }}</label>
                                {{ form.direccion }}
                            </div>
                            <div class="form-group">
                                <label for="customFileLang">{{ form.logo.label }}</label>
                                <div class="input-group">
                                    {{ form.logo }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="labels">{{ form.administrador.label }}</label>
                                {{ form.administrador }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary profile-button" type="submit">Guardar Cambios</button>
                            <button class="btn btn-secondary" type="reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_localidad').select2(
                {
                    theme: 'bootstrap4',
                    language: 'es',
                    placeholder: "Seleccione una localidad",
                    allowClear: true,
                }
            );
            $('#id_administrador').select2(
                {
                    {#theme: 'bootstrap4',#}
                    {#language: 'es',#}
                    placeholder: "Seleccione un administrador",
                    {#allowClear: true,#}
                    {#multiple: true,#}
                    {#tags: true,#}
                }
            );
        });
    </script>
    {% if form.errors %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Ocurrió un error',
                {% for key, value in form.errors.items %}
                    text: '{{ value|join:" " }}',
                {% endfor %}
                showConfirmButton: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% endif %}
{% endblock javascripts %}