{% extends "extends/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css"/>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Socios</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Socios</h3>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'crear_socio' %}" class="btn btn-primary mb-3">
                            <i class="fas fa-plus"></i> Nuevo Socio
                        </a>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Categoría</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for socio in socios %}
                                <tr>
                                    <td>{{ socio.user.username }}</td>
                                    <td>{{ socio.user.email }}</td>
                                    <td>{{ socio.categoria }}</td>
                                    <td>{{ socio.estado }}</td>
                                    <td>
                                        <a href="{% url 'editar_socio' socio.id %}" class="btn btn-warning btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'eliminar_socio' socio.id %}" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Categoría</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#example1').DataTable({
                fixedHeader: true
            });
        });
    </script>
    {% if model_deleted %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'EL {{ model_name }} <strong>{{ model_deleted }}</strong> ha sido eliminado',
                showConfirmButton: true,
                showCancelButton: false,
                confirmButtonText: '<a class="text-white" href="{% url 'restaurar_socio' model_deleted.pk %}">Deshacer <i class="fa fa-undo" aria-hidden="true"></i></a>',
                timer: 5000,
                timerProgressBar: true,
            })
            document.body.classList.remove('swal2-height-auto');
        </script>
    {% endif %}
{% endblock %}
