{% extends "extends/user/base.html" %}
{% load static %}

{% block head_css %}
    <style>
        @media (max-width: 576px) {
            .label-align {
                text-align: left;
            }
        }

        @media (min-width: 576px) {
            .label-align {
                text-align: right;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 class="card-title">
                            <i class="fas fa-user-pen"></i>
                            {{ title }}
                        </h4>
                    </div>
                    <form id="formReserva" method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="id_deporte" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.deporte.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.deporte }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_fecha" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.fecha.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="input-group" id="div_id_fecha"
                                         data-target-input="nearest">
                                        {{ form.fecha }}
                                        <div class="input-group-append" data-target="#id_fecha"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_hora" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.hora.label }} <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.hora }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_cancha" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Canchas disponibles <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.cancha }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_email" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Email <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_nombre" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Nombre <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    {{ form.nombre }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_nota" class="col-form-label col-md-3 col-sm-3 label-align">
                                    {{ form.nota.label }}</label>
                                <div class="col-sm-7">
                                    {{ form.nota }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary float-right ml-2" type="submit" name="_save">
                                <i class="fa fa-save"></i> GUARDAR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block body_js %}
    <!-- Tempus Dominus -->
    <link href="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.css' %}" media="all"
          rel="stylesheet">
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script>
        let selectDeporte = $('#id_deporte');
        let selectCancha = $('#id_cancha');
        let inputFecha = $('#id_fecha');
        let selectHora = $('#id_hora');
        selectDeporte.select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione un deporte',
            allowClear: true,
            width: '100%',
            language: 'es'
        });
        selectCancha.select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione una cancha disponible',
            allowClear: true,
            width: '100%',
            language: 'es',
        });
        selectHora.select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione una hora',
            allowClear: true,
            width: '100%',
            language: 'es',
        });
        let fecha = new Date('{{ form.fecha.value }}');
        fecha.setMinutes(fecha.getMinutes() + fecha.getTimezoneOffset());
        inputFecha.datetimepicker({
            "format": "L",
            "locale": "es-AR",
            "date": fecha,
            "minDate": moment().startOf('day'),
            "maxDate": moment().add(2, 'weeks'),
        });
        inputFecha.on('change.datetimepicker', function (e) {
            // Limpiar el select de canchas y deshabilitarlo
            selectCancha.empty().prop('disabled', true).trigger('change');
            selectHora.val(null).trigger('change');
        });
        selectHora.change(function () {
            // inputHora solo permite ingresar horas, los minutos se setean en 0
            let hora = $(this).val();
            let fecha = inputFecha.val();
            if (fecha === '' || hora === null) {
                return;
            }
            // Cambiar el formato fecha de DD/MM/YYYY a YYYY-MM-DD
            fecha = fecha.split('/').reverse().join('-');
            $.ajax({
                url: "{% url 'admin-reservas-ajax' %}",
                type: "GET",
                data: {
                    'action': 'get_canchas_disponibles',
                    'deporte_id': selectDeporte.val(),
                    'fecha': fecha,
                    'hora': hora,
                },
                dataType: "json",
                success: function (data) {
                    if (!data.hasOwnProperty('error')) {
                        let canchas = data['canchas'];
                        selectCancha.empty();
                        canchas.forEach(function (cancha) {
                            let option = new Option('Cancha #' + cancha, cancha, false, false);
                            selectCancha.append(option);
                        });
                        selectCancha.prop('disabled', false);
                        selectCancha.trigger('change');
                    } else {
                        selectCancha.empty();
                        selectCancha.prop('disabled', true);
                        selectCancha.trigger('change');
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Oops...',
                            text: data['error'],
                            confirmButtonText: 'Aceptar',
                        });
                    }
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            let hora = selectHora.val();
            let fecha = inputFecha.val();
            // Si fecha el vacío retornar para que no se ejecute el ajax
            if (fecha === '') {
                return;
            }
            // Cambiar el formato fecha de DD/MM/YYYY a YYYY-MM-DD
            fecha = fecha.split('/').reverse().join('-');
            $.ajax({
                url: "{% url 'admin-reservas-ajax' %}",
                type: "GET",
                data: {
                    'action': 'get_canchas_disponibles',
                    'deporte_id': selectDeporte.val(),
                    'fecha': fecha,
                    'hora': hora,
                },
                dataType: "json",
                success: function (data) {
                    if (!data.hasOwnProperty('error')) {
                        let canchas = data['canchas'];
                        selectCancha.empty();
                        // Recorrer lista de canchas
                        for (let i = 0; i < canchas.length; i++) {
                            let cancha = canchas[i];
                            console.log(cancha);
                            // Agregar cancha al select
                            selectCancha.append(new Option('Cancha #' + cancha, cancha));
                        }
                        selectCancha.trigger('change');
                        selectCancha.prop('disabled', false);
                    } else {
                        alert(data['error']);
                        selectCancha.empty().prop('disabled', true).trigger('change');
                    }
                }
            });
        });
    </script>
{% endblock body_js %}