{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <div class="card-body">
                        <table id="dataTable" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Estado</th>
                                <th scope="col" style="">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for solicitud in solicitudes %}
                                <tr>
                                    <td>{{ solicitud.pk }}</td>
                                    <td>{{ solicitud.dni }}</td>
                                    <td>{{ solicitud.get_full_name }}</td>
                                    <td>{{ solicitud.get_edad }}</td>
                                    <td>{{ solicitud.categoria }}</td>
                                    <td>{{ solicitud.get_estado }}</td>
                                    <td>
                                        <button class="detail btn btn-info btn-sm" value="{{ solicitud.pk }}">
                                            <i class="fa-solid fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Estado</th>
                                <th scope="col" style="">Acciones</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="ModalDetailSolicitud" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos personales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button id="btn-rechazar" type="button" class="btn btn-danger">Rechazar</button>
                    <button id="btn-aprobar" type="button" class="btn btn-success">Aprobar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    <script>
        // Cuando el button detail se presiona
        $(document).on('click', '.detail', function () {
            let id = $(this).val();
            $.ajax({
                url: window.location.pathname,
                type: "GET",
                data: {
                    'id': id,
                    'action': 'get_detail'
                },
                success: function (data) {
                    $('#ModalDetailSolicitud').modal('show');
                    // Obtener los valores de la solicitud
                    let values = Object.values(data);
                    // El json que se recibe tiene los valores de la solicitud [{}, {}, {}]
                    // Se recorre el json para obtener los valores de cada campo
                    // Mostrar en el modal solo los valores de nombre, apellido y dni
                    let html = '';
                    let mensaje = '';
                    for (let i = 0; i < values.length; i++) {
                        html += '<li class="list-group-item"><strong>DNI: </strong>' + values[i].dni + '</li>';
                        html += '<li class="list-group-item"><strong>Nombre completo: </strong>' + values[i].nombre + ' ' + values[i].apellido + '</li>';
                        html += '<li class="list-group-item"><strong>Sexo: </strong>' + values[i].sexo + '</li>';
                        html += '<li class="list-group-item"><strong>Edad: </strong>' + values[i].edad + '</li>';
                        html += '<li class="list-group-item"><strong>Categoria: </strong>' + values[i].categoria.nombre + ' $' + values[i].categoria.cuota + '</li>';
                        html += '<li class="list-group-item"><strong>Email: </strong>' + values[i].email + '</li>';
                        // Colocar la imagen en el modal
                        html += '<li style="list-style: none"><div class="text-center"><img class="rounded-circle mt-5" src="' + values[i].imagen + '" alt="" style="max-width: 300px"></div></li>';
                        // Si el estado de la solicitud es aprobado,
                        // ocultar los botones del modal footer y limpiar el modal footer
                        // y mostrar el mensaje de aprobado
                        if (values[i].estado === 'Aprobado') {
                            $('#btn-rechazar').hide();
                            $('#btn-aprobar').hide();
                            $('div .alert').remove();
                            mensaje = '<div class="alert alert-success" role="alert">La solicitud ha sido aprobada</div>';
                        }
                        if (values[i].estado === 'Rechazado') {
                            $('#btn-rechazar').hide();
                            $('#btn-aprobar').hide();
                            $('div .alert').remove();
                            mensaje = '<div class="alert alert-danger" role="alert">La solicitud ha sido rechazada</div>';
                        }
                    }
                    $('#ModalDetailSolicitud .modal-body ul').html(html);
                    $('#ModalDetailSolicitud .modal-footer').append(mensaje);
                },
                error: function (data) {
                    console.log('Error:', data);
                }
            });
            // Cuando el button rechazar se presiona
            $(document).on('click', '#btn-rechazar', function () {
                $.ajax({
                    url: window.location.pathname,
                    type: "GET",
                    data: {
                        'id': id,
                        'action': 'rechazar'
                    },
                    success: function (data) {
                        $('#ModalDetailSolicitud').modal('hide');
                        location.reload();
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            });
            // Cuando el button aprobar se presiona
            $(document).on('click', '#btn-aprobar', function () {
                let id = $('.detail').val();
                $.ajax({
                    url: window.location.pathname,
                    type: "GET",
                    data: {
                        'id': id,
                        'action': 'aprobar'
                    },
                    success: function (data) {
                        $('#ModalDetailSolicitud').modal('hide');
                        location.reload();
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            });
        });
    </script>
    {% include 'includes/dataTable.html' %}
{% endblock body_js %}
