{% extends "extends/admin/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin-socio-listado' %}">Socios</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-danger">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa-solid fa-trash"></i>
                            {{ title }}
                        </h3>
                    </div>
                    <form id="deleteForm" method="post">
                        <div class="card-body">
                            {% csrf_token %}
                            <p>¿Está seguro que desea dar de baja al socio {{ socio }}?</p>
                            {% if miembros %}
                                <p>Tenga que en cuenta que el socio tiene a cargo los siguientes <b>miembros</b>:</p>
                                <ul>
                                    {% for socio in miembros %}
                                        <li>{{ socio }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            {% if miembros %}
                                <button type="submit" class="btn btn-outline-danger float-right" name="cascade">
                                    <i class="fa-solid fa-trash"></i>
                                    Dar de baja (incluido miembros)
                                </button>
                                <button type="submit" class="btn btn-danger float-right mr-2">
                                    <i class="fa-solid fa-trash"></i>
                                    Dar de baja
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-danger float-right">
                                    <i class="fa-solid fa-trash"></i>
                                    Dar de baja
                                </button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    <script>
        $('#deleteForm').submit(function (e) {
            e.preventDefault();
            // Obtener el atributo name del botón pulsado
            let name = $(document.activeElement).attr('name');
            let form = new FormData(this);
            let swalText
            if (name === 'cascade') {
                form.append('action', 'delete_cascade');
                swalText = 'Se dará de baja al socio seleccionado y a todos sus miembros';
            } else {
                form.append('action', 'delete');
                swalText = 'Se dará de baja únicamente al socio seleccionado.';
            }
            Swal.fire({
                position: 'top-end',
                title: '¿Está seguro?',
                text: swalText,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '¡Sí, dar de baja!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: form,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (!data.hasOwnProperty('error')) {
                                Swal.fire({
                                    position: 'top-end',
                                    title: data['swal_title'],
                                    text: data['swal_text'],
                                    icon: 'success',
                                    confirmButtonText: 'Imprimir comprobante de operación',
                                    showCancelButton: true,
                                    cancelButtonText: 'Continuar',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            url: "{% url 'admin-socio-ajax' %}",
                                            type: "GET",
                                            data: {
                                                'action': 'print_comprobante',
                                                'persona': data['persona'],
                                                'socio': data['socio'],
                                            },
                                            success: function (data) {
                                                if (data['url']) {
                                                    window.open(data['url'], '_blank');
                                                }
                                            },
                                            error: function (data) {
                                                console.log('Error:', data);
                                            }
                                        });
                                    }
                                    window.location.href = "{% url 'admin-socio-listado' %}";
                                });
                            } else {
                                let errors = []
                                if (typeof data.error === 'object') {
                                    $.each(data.error, function (key, value) {
                                        errors.push(value);
                                    });
                                } else {
                                    errors = data.error
                                }
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'error',
                                    title: 'Ocurrió un error',
                                    text: errors,
                                    showConfirmButton: true,
                                })
                            }
                        },
                        error: function (data) {
                            alert('Error en la petición ajax en el submit del formulario: ' + data);
                        }
                    });
                }
            });
        });
    </script>
    {#    <script>#}
    {#        // Submit form#}
    {#        $('#deleteForm').submit(function (e) {#}
    {#            e.preventDefault();#}
    {#            let form = new FormData(this);#}
    {#            form.append('action', '{{ action }}');#}
    {#    $.ajax({#}
    {#    url: window.location.pathname,#}
    {#    type: 'POST',#}
    {#    data: form,#}
    {#    dataType: 'json',#}
    {#    contentType: false,#}
    {#    processData: false,#}
    {#    success: function (data) {#}
    {#    if (!data.hasOwnProperty('error')) {#}
    {#    Swal.fire({#}
    {#    position: 'top-end',#}
    {#    title: data['swal_title'],#}
    {#    text: data['swal_text'],#}
    {#    icon: 'success',#}
    {#    confirmButtonText: 'Imprimir comprobante de operación',#}
    {#    showCancelButton: true,#}
    {#    cancelButtonText: 'Continuar',#}
    {#    }).then((result) => {#}
    {#    if (result.isConfirmed) {#}
    {#    $.ajax({#}
    {#    url: "{% url 'admin-socio-ajax' %}",#}
    {#    type: "GET",#}
    {#    data: {#}
    {#    'action': 'print_comprobante',#}
    {#    'persona': data['persona'],#}
    {#    'socio': data['socio'],#}
    {#    },#}
    {#    success: function (data) {#}
    {#    if (data['url']) {#}
    {#    window.open(data['url'], '_blank');#}
    {#    }#}
    {#    },#}
    {#    error: function (data) {#}
    {#    console.log('Error:', data);#}
    {#    }#}
    {#    });#}
    {#    }#}
    {#    window.location.href = "{% url 'admin-socio-listado' %}";#}
    {#    });#}
    {#    } else {#}
    {#    let errors = []#}
    {#    if (typeof data.error === 'object') {#}
    {#    $.each(data.error, function (key, value) {#}
    {#    errors.push(value);#}
    {#    });#}
    {#    } else {#}
    {#    errors = data.error#}
    {#    }#}
    {#    Swal.fire({#}
    {#    position: 'top-end',#}
    {#    icon: 'error',#}
    {#    title: 'Ocurrió un error',#}
    {#    text: errors,#}
    {#    showConfirmButton: true,#}
    {#    })#}
    {#    }#}
    {#    },#}
    {#    error: function (data) {#}
    {#    alert('Error en la petición ajax en el submit del formulario: ' + data);#}
    {#    }#}
    {#    });#}
    {#    });#}
    {#    </script>#}
{% endblock body_js %}
