{% extends "extends/admin/base.html" %}
{% load static %}

{% block head_css %}
    <style>
        #socio_carnet {
            width: 8.56cm;
            height: 5.398cm;
            background: rgb(254, 255, 0);
            background: linear-gradient(0deg, rgba(254, 255, 0, 1) 0%, rgba(9, 15, 121, 1) 75%,
            rgba(9, 39, 121, 1) 100%);
        }

        .card-body-carnet::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('{{ socio.persona.club.get_imagen }}');
            background-size: 30px;
            opacity: 0.15;
        }
    </style>
{% endblock head_css %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin-socio-listado' %}">Socios</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if socio.is_deleted %}
            <div class="card card-outline card-danger">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa-solid fa-trash"></i>
                        {{ title }}
                    </h3>
                </div>
                <form action="{% url 'admin-socio-restaurar' socio.pk %}" method="post">
                    <div class="card-body">
                        {% csrf_token %}
                        <p>El socio {{ socio }} se encuentra dado de baja. Para editarlo debe restaurarlo presionando el
                            botón de restaurar.</p>
                        <span><b>Motivo de la baja:</b> {{ socio.get_change_reason }}</span>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-primary float-right">
                            <i class="fa-solid fa-rotate-left"></i>
                            Restaurar
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="d-flex flex-column align-items-center mb-3">
                        <img class="rounded-circle mt-3"
                             src="{{ socio.persona.get_imagen }}" alt="" style="max-width: 200px; max-height: 200px">
                    </div>
                    <div class="d-flex flex-column align-items-center mb-3">
                        <a id="btn-print" href="">
                            <div id="socio_carnet" class="card">
                                <div class="card-body card-body-carnet">
                                    <div class="row" style="height: 40%">
                                        <h5 style="color: white">
                                            <strong>{{ socio.persona.apellido }}, {{ socio.persona.nombre }}</strong>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="{{ socio.persona.get_imagen }}" alt=""
                                                 style="width: 85px; height: 85px"
                                                 class="rounded">
                                        </div>
                                        <div class="col-9 p-0">
                                            <ul style="list-style: none;">
                                                <li style="color: yellow"><strong>Socio N°: {{ socio.pk }}</strong></li>
                                                <li style="color: white">
                                                    <strong>CUIL: {{ socio.persona.cuil_completo }}</strong></li>
                                                <li class="text-right"><img
                                                        src="{{ socio.persona.club.get_imagen }}"
                                                        alt="Logo Club"
                                                        style="max-width: 60px">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h3 class="card-title">{{ title }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5>Información Personal</h5>
                                    <ul class="list-group mb-1">
                                        <li class="list-group-item"><b>CUIL: </b>{{ socio.persona.cuil_completo }}</li>
                                        <li class="list-group-item"><b>Nombre
                                            completo: </b>{{ socio.persona.get_full_name }}</li>
                                        <li class="list-group-item"><b>Sexo: </b>{{ socio.persona.sexo }}</li>
                                        <li class="list-group-item"><b>Edad: </b>{{ socio.persona.get_edad }}
                                            ({{ socio.persona.fecha_nacimiento }})
                                        </li>
                                        {% if not socio.persona.es_titular %}
                                            <li class="list-group-item"><b>Persona a cargo: </b>
                                                {{ socio.persona.persona_titular }}<br>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    <a href="{% url 'admin-persona-editar' socio.persona.pk %}"
                                       class="btn btn-sm btn-warning">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                </div>
                                <div class="col">
                                    <h5>Información de Socio</h5>
                                    <ul class="list-group mb-1">
                                        <li class="list-group-item"><b>Categoria: </b>{{ socio.get_categoria }}</li>
                                        <li class="list-group-item"><b>Fecha de creación: </b>{{ socio.date_created }}
                                        </li>
                                        <li class="list-group-item"><b>Estado de
                                            socio: </b>{{ socio.get_ESTADO_display }}</li>
                                        {% if socio.user %}
                                            <li class="list-group-item"><b>Email: </b>{{ socio.user.email }}</li>
                                            <li class="list-group-item">
                                                <b>Estado de usuario: </b>{{ socio.user.get_estado }}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Fecha de creación de usuario: </b>{{ socio.user.date_joined }}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Último inicio de sesión: </b>
                                                {% if not socio.user.last_login %}
                                                    <span>Aún no ha iniciado sesión</span>
                                                {% else %}
                                                    {{ socio.user.last_login }}
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                    <a href="{% url 'admin-socio-editar' socio.pk %}" class="btn btn-sm btn-warning">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if socio.grupo_familiar %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h3 class="card-title">Grupo Familiar</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5>Información del Titular del Grupo Familiar</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr class="table-primary">
                                            <th scope="col">CUIL</th>
                                            <th scope="col">Nombre completo</th>
                                            <th scope="col">Edad</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            {% if socio.persona.es_titular %}
                                                <td>{{ socio.persona.cuil_completo }}</td>
                                                <td>{{ socio.persona.get_full_name }}</td>
                                                <td>{{ socio.persona.get_edad }}</td>
                                            {% else %}
                                                <td>{{ socio.persona.persona_titular.cuil_completo }}</td>
                                                <td>{{ socio.persona.persona_titular.get_full_name }}</td>
                                                <td>{{ socio.persona.persona_titular.get_edad }}</td>
                                            {% endif %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <h5>Socios Miembros del Grupo Familiar</h5>
                                <table id="dataTable" class="table table-bordered table-striped">
                                    <thead>
                                    <tr class="table-primary">
                                        <th scope="col" style="">N° Ficha</th>
                                        <th scope="col" style="">CUIL</th>
                                        <th scope="col" style="">Nombre completo</th>
                                        <th scope="col" style="">Edad</th>
                                        <th scope="col" style="">Categoría</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for miembro in socio.grupo_familiar %}
                                        <tr>
                                            <td>{{ miembro.get_ID_display }}</td>
                                            <td>{{ miembro.persona.cuil_completo }}</td>
                                            <td>{{ miembro.persona.get_full_name }}</td>
                                            <td>{{ miembro.persona.get_edad }}</td>
                                            <td>{{ miembro.get_categoria }}</td>
                                            {% if not miembro.is_deleted %}
                                                <td>
                                                    <a href="{% url 'admin-socio-detalle' miembro.pk %}"
                                                       class="btn btn-info btn-sm">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </a>
                                                    <a href="{% url 'admin-socio-editar' miembro.pk %}"
                                                       class="btn btn-warning btn-sm">
                                                        <i class="fa-solid fa-edit"></i>
                                                    </a>
                                                    <a href="{% url 'admin-socio-baja' miembro.pk %}"
                                                       class="btn btn-danger btn-sm">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <a href="{% url 'admin-socio-detalle' miembro.pk %}"
                                                       class="btn btn-info btn-sm">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="table-primary">
                                        <th scope="col" style="">N° Ficha</th>
                                        <th scope="col" style="">CUIL</th>
                                        <th scope="col" style="">Nombre completo</th>
                                        <th scope="col" style="">Edad</th>
                                        <th scope="col" style="">Categoría</th>
                                        <th></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}

{% block body_js %}
    {# DataTable #}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/datatables.css' %}"/>
    <script type="text/javascript" src="{% static 'libs/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/DataTables/Select-1.5.0/js/dataTables.select.js' %}"></script>
    <script>
        let table = $('#dataTable');

        table.DataTable({
            language: {
                url: '{% static 'libs/datatables/es-ES.json' %}'
            },
            columnDefs: [ // Quitarle estilos a la ultima columna
                {"orderable": false, "targets": -1}
            ],
            responsive: true,
            order: [[0, 'desc']],
            autoWidth: false,
            // La fila que tiene el mismo id igual 2, fondo success
            rowId: 'id',
            rowCallback: function (row, data, index) {
                if (data[0] === '{{ object.pk }}') {
                    $(row).addClass('table-success');
                }
            },
        });
    </script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script>
        $('#btn-print').on('click', function (e) {
            e.preventDefault();
            html2canvas(document.querySelector("#socio_carnet"), {allowTaint: true}).then(canvas => {
                // Abrir una nueva ventana con el canvas
                let win = window.open();
                // Cambiar el fondo de win a negro
                win.document.body.style.backgroundColor = "black";
                win.document.body.appendChild(canvas);
                // Canvas con posición absoluta, top: 50% y left: 50% para centrarlo
                canvas.style.position = "absolute";
                canvas.style.top = "50%";
                canvas.style.left = "50%";
                // Transformar el canvas para centrarlo
                canvas.style.transform = "translate(-50%, -50%)";
            });
        });
    </script>
{% endblock body_js %}
