{% extends "extends/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block head_js %}
    <!-- Tempus Dominus JS -->
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock head_js %}

{% block head_css %}
    <!-- Tempus Dominus CSS -->
    <link href="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.css' %}" media="all"
          rel="stylesheet">
    <style>
        img {
            max-width: 300px;
            max-height: 300px;
        }
    </style>
{% endblock head_css %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin-socio-listado' %}">Socios</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data" id="formSocio">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <h4>Datos Personales</h4>
                                    <hr>
                                    <div class="form-group">
                                        <div class="input-group">
                                            {{ form.persona }}
                                            <div class="input-group-append">
                                                <button id="open-ModalAddPersona" class="btn btn-success" type="button">
                                                    <i class="fas fa-user-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul id="list-data" class="list-group">
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h4>Datos del socio</h4>
                                    <hr>
                                    <div class="form-group">
                                        {{ form.categoria|attr:"disabled" }}
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group" data-target-input="nearest">
                                            {{ form.fecha_ingreso }}
                                            <div class="input-group-append" data-target="#id_fecha_ingreso"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" hidden="hidden">
                                        <h4>Datos del tutor</h4>
                                        <hr class="mt-0">
                                        <div class="form-group">
                                            {{ form.socio_titular }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.parentesco }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-save"></i> Guardar
                            </button>
                            <button class="btn btn-secondary" type="reset" onclick="resetSocioForm()">
                                <i class="fas fa-eraser"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modals Add Persona -->
    {% include 'admin/socio/modals/persona_form.html' %}
{% endblock content %}
{% block body_js %}
    <script>
        $('#open-ModalAddPersona').click(function () {
            $('#ModalAddPersona').modal('show');
        });

        let selectPersona = $('#id_persona');
        let selectSocioTitular = $('#id_socio_titular');
        let selectCategoria = $('#id_categoria');
        let selectParentesco = $('#id_parentesco');
        let inputFechaIngreso = $('#id_fecha_ingreso');

        selectPersona.select2({
            theme: 'bootstrap4',
            allowClear: true,
            placeholder: 'Seleccione una persona',
            language: 'es'
        });
        selectCategoria.select2({
            theme: 'bootstrap4',
            allowClear: true,
            placeholder: 'Seleccione una categoría',
            width: '100%',
            language: 'es'
        });
        selectSocioTitular.select2({
            theme: 'bootstrap4',
            allowClear: true,
            placeholder: 'Seleccione un tutor',
            width: '100%',
            language: 'es'
        });
        selectParentesco.select2({
            theme: 'bootstrap4',
            allowClear: true,
            placeholder: 'Seleccione un parentesco',
            width: '100%',
            language: 'es'
        });
        inputFechaIngreso.datetimepicker({
            "format": "DD/MM/YYYY",
            "locale": "es-AR",
            "date": null,
            "minDate": "01/01/1900",
            "maxDate": Date.now(),
        });

        function resetSocioForm() {
            selectPersona.val(null).trigger('change');
            selectCategoria.val(null).trigger('change');
            selectSocioTitular.val(null).trigger('change');
            selectParentesco.val(null).trigger('change');
            inputFechaIngreso.val(null).trigger('change');
        }

        // Obtener las categorias que puede tener la persona seleccionada.
        selectPersona.on('change', function (e) {
            let listDataPersona = $('#list-data');
            if ($(this).val()) {
                $.ajax({
                    url: "{% url 'admin-socio-ajax' %}",
                    type: 'GET',
                    data: {
                        'action': 'get_categoria',
                        'persona': $(this).val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (!data.hasOwnProperty('error')) {
                            selectCategoria.empty();
                            selectCategoria.prop('disabled', false);
                            $.each(data, function (key, value) { // Agregar las categorias traídas del backend al select
                                if (value.id) {
                                    selectCategoria.append('<option value="' + value.id + '">' + value.__str__ + '</option>');
                                }
                            });
                        } else {
                            alert('Error al obtener las categorias: ' + data.error)
                        }
                    }
                });
                $.ajax({
                    url: "{% url 'admin-socio-ajax' %}",
                    type: 'GET',
                    data: {
                        'action': 'get_persona',
                        'id': $(this).val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (!data.hasOwnProperty('error')) {
                            listDataPersona.empty();
                            let persona = data['persona'];
                            listDataPersona.append('<li class="list-group-item list-group-item-secondary"><h5 class="m-0">Datos de la persona seleccionada</h5></li>');
                            listDataPersona.append('<li class="list-group-item"><b>DNI:</b> ' + persona['dni'] + '</li>');
                            listDataPersona.append('<li class="list-group-item"><b>Nombre:</b> ' + persona['nombre'] + '</li>');
                            listDataPersona.append('<li class="list-group-item"><b>Apellido:</b> ' + persona['apellido'] + '</li>');
                            listDataPersona.append('<li class="list-group-item"><b>Edad:</b> ' + persona['edad'] + '</li>');
                            listDataPersona.append('<li class="list-group-item"><p><b>Foto carnet:</b></p>' +
                                '<img src="' + persona['imagen'] + '" class="img-thumbnail" alt=""></li>');
                            listDataPersona.append('<li class="list-group-item"><a href="' + persona['url_editar'] + '" class="btn btn-warning"><i class="fas fa-user-pen"></i> Editar persona</a></li>');
                        } else {
                            alert('Error al obtener los datos de la persona: ' + data.error)
                        }
                    }
                });
            } else {
                selectCategoria.empty();
                selectCategoria.prop('disabled', true);
                listDataPersona.empty();
            }
        });

        // Submit form
        $('#formSocio').submit(function (e) {
            e.preventDefault();
            let form = new FormData(this);
            form.append('action', '{{ action }}');
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: form,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (!data.hasOwnProperty('error')) {
                        Swal.fire({
                            position: 'top-end',
                            title: 'Socio agregado',
                            text: 'El socio se agregó correctamente',
                            icon: 'success',
                            confirmButtonText: 'Imprimir comprobante de operación',
                            showCancelButton: true,
                            cancelButtonText: 'Cerrar',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: "{% url 'admin-socio-ajax' %}",
                                    type: "GET",
                                    data: {
                                        'action': 'print_comprobante',
                                        'persona': data['persona'],
                                        'socio': data['socio'],
                                    },
                                    success: function (data) {
                                        if (data['url']) {
                                            window.open(data['url'], '_blank');
                                        }
                                    },
                                    error: function (data) {
                                        console.log('Error:', data);
                                    }
                                });
                            }
                            location.reload();
                        });
                    } else {
                        let errors = []
                        if (typeof data.error === 'object') {
                            $.each(data.error, function (key, value) {
                                errors.push(value);
                            });
                        } else {
                            errors = data.error
                        }
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Ocurrió un error',
                            text: errors,
                            showConfirmButton: true,
                        })
                    }
                },
                error: function (data) {
                    alert('Error en la petición ajax en el submit del formulario: ' + data);
                }
            });
        });
    </script>
{% endblock body_js %}