{% extends "extends/admin/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">Socios Registrados</h3>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'admin-socio-crear' %}" class="btn btn-success">
                            <i class="fas fa-plus pr-1"></i> Agregar Socio
                        </a>
                        <hr>
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">CUIL</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Estado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for socio in socios %}
                                <tr>
                                    <td>{{ socio.pk }}</td>
                                    <td>{{ socio.persona.cuil_completo }}</td>
                                    <td>{{ socio.persona.get_full_name }}</td>
                                    <td>{{ socio.persona.get_edad }}</td>
                                    <td>{{ socio.get_categoria }}</td>
                                    {% if not socio.is_deleted %}
                                        <td><span class="badge badge-success">{{ socio.get_estado }}</span></td>
                                        <td>
                                            <a href="{% url 'admin-socio-detalle' socio.pk %}"
                                               class="btn btn-info btn-sm">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a href="{% url 'admin-socio-editar' socio.pk %}"
                                               class="btn btn-warning btn-sm">
                                                <i class="fa-solid fa-edit"></i>
                                            </a>
                                            <a href="{% url 'admin-socio-baja' socio.pk %}"
                                               class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td><span class="badge badge-danger">{{ socio.get_estado }}</span></td>
                                        <td>
                                            <a href="{% url 'admin-socio-detalle' socio.pk %}"
                                               class="btn btn-info btn-sm">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">CUIL</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Estado</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {# DataTable #}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/datatables.css' %}"/>
    <script type="text/javascript" src="{% static 'libs/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/DataTables/Select-1.5.0/js/dataTables.select.js' %}"></script>
    <script>
        let table = $('#dataTable');

        table.DataTable({
            language: {
                "processing": "Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "emptyTable": "Ningún dato disponible en esta tabla",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "search": "Buscar:",
                "infoThousands": ",",
                "loadingRecords": "Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad",
                    "collection": "Colección",
                    "colvisRestore": "Restaurar visibilidad",
                    "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                    "copySuccess": {
                        "1": "Copiada 1 fila al portapapeles",
                        "_": "Copiadas %ds fila al portapapeles"
                    },
                    "copyTitle": "Copiar al portapapeles",
                    "csv": "CSV",
                    "excel": "Excel",
                    "pageLength": {
                        "-1": "Mostrar todas las filas",
                        "_": "Mostrar %d filas"
                    },
                    "pdf": "PDF",
                    "print": "Imprimir",
                    "renameState": "Cambiar nombre",
                    "updateState": "Actualizar",
                    "createState": "Crear Estado",
                    "removeAllStates": "Remover Estados",
                    "removeState": "Remover",
                    "savedStates": "Estados Guardados",
                    "stateRestore": "Estado %d"
                },
                "searchPanes": {
                    "clearMessage": "Borrar todo",
                    "collapse": {
                        "0": '<i class="fa-solid fa-filter"></i> Filtros',
                        "_": '<i class="fa-solid fa-filter"></i> Filtros (%d)'
                    },
                    "count": "{total}",
                    "countFiltered": "{shown} ({total})",
                    "emptyPanes": "No hay suficientes datos para mostrar los filtros",
                    "loadMessage": "Cargando paneles de búsqueda",
                    "title": "Filtros Activos - %d",
                    "showMessage": "Mostrar Todo",
                    "collapseMessage": "Colapsar Todo"
                },
                "select": {
                    "cells": {
                        "1": "1 celda seleccionada",
                        "_": "%d celdas seleccionadas"
                    },
                    "columns": {
                        "1": "1 columna seleccionada",
                        "_": "%d columnas seleccionadas"
                    },
                    "rows": {
                        "1": "1 fila seleccionada",
                        "_": "%d filas seleccionadas"
                    }
                },
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            },
            dom: 'Bfrtip',
            columnDefs: [ // Quitarle estilos a la ultima columna
                {"orderable": false, "targets": -1}
            ],
            responsive: true,
            order: [[0, 'desc']],
            autoWidth: false,
            buttons: [
                {
                    extend: 'print',
                    text: '<i class="fa-solid fa-print"></i> Imprimir',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info btn-sm border',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'colvis',
                    text: '<i class="fa-solid fa-eye"></i> Ver columnas',
                    titleAttr: 'Ver columnas',
                    className: 'btn btn-secondary btn-sm border',
                    columns: ':gt(0)',
                    postfixButtons: ['colvisRestore']
                },
                {
                    extend: 'searchPanes',
                    text: '<i class="fa-solid fa-filter"></i> Filtros',
                    className: 'btn btn-secondary btn-sm border',
                    config: {
                        cascadePanes: true,
                        viewTotal: true,
                        layout: 'columns-3',
                        columns: [1, 2, 3, 4, 5],
                    }
                },
                {
                    extend: 'pageLength',
                    className: 'btn btn-secondary btn-sm border',
                }
            ],
        });
    </script>
{% endblock body_js %}