{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'admin-socio-crear' %}" class="btn btn-success mb-3">
                            <i class="fas fa-plus pr-1"></i> Crear Nuevo
                        </a>
                        <table id="dataTable" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">CUIL</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Estado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for socio in socios %}
                                <tr>
                                    <td>{{ socio.pk }}</td>
                                    <td>{{ socio.persona.cuil_completo }}</td>
                                    <td>{{ socio.persona.get_full_name }}</td>
                                    <td>{{ socio.persona.get_edad }}</td>
                                    <td>{{ socio.get_categoria }}</td>
                                    {% if not socio.is_deleted %}
                                        <td><span class="badge badge-success">{{ socio.get_estado }}</span></td>
                                        <td>
                                            <a href="{% url 'admin-socio-detalle' socio.pk %}"
                                               class="btn btn-info btn-sm">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a href="{% url 'admin-socio-editar' socio.pk %}"
                                               class="btn btn-warning btn-sm">
                                                <i class="fa-solid fa-edit"></i>
                                            </a>
                                            <button class="btn btn-danger btn-sm btn-delete"
                                                    value="{{ socio.pk }}">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    {% else %}
                                        <td><span class="badge badge-danger">{{ socio.get_estado }}</span></td>
                                        <td>
                                            <button class="btn btn-success btn-sm btn-restore"
                                                    value="{{ socio.pk }}">
                                                <i class="fa-solid fa-rotate-left"></i>
                                            </button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Estado</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {# DataTable #}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/datatables.css' %}"/>
    <script type="text/javascript" src="{% static 'libs/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/DataTables/Select-1.5.0/js/dataTables.select.js' %}"></script>
    {# Datatable Internacionalización #}
    <script src="{% static 'libs/datatables/es-ES.json' %}"></script>
    <script>
        let table = $('#dataTable');

        table.DataTable({
            responsive: true,
            lengthChange: false,
            order: [[0, 'desc']],
            autoWidth: false,
            // Quitarle estilos a la ultima columna
            columnDefs: [
                {"orderable": false, "targets": -1}
            ],
            buttons: [
                {
                    extend: 'colvis',
                    text: 'Columnas visibles',
                    columns: ':gt(0)',
                    postfixButtons: ['colvisRestore']
                },
            ],
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros por página",
                zeroRecords: "No se encontraron registros",
                info: "Mostrando página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros disponibles",
                infoFiltered: "(filtrado de _MAX_ registros totales)",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                },
                buttons: {
                    colvis: 'Columnas',
                    print: 'Imprimir',
                    copy: 'Copiar',
                    copyTitle: 'Copiado al portapapeles',
                    copySuccess: {
                        _: '%d líneas copiadas',
                        1: '1 línea copiada'
                    },
                    colvisRestore: 'Restaurar'
                },
            }
        });
        // Datatable buttons bootstrap 4, append buttons
        table.DataTable().buttons().container().appendTo('#dataTable_wrapper .col-md-6:eq(0)');
    </script>
{% endblock body_js %}
