{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin-socio-listado' %}">Socios</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data" id="formSocio">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h4 class="card-title">
                                <i class="fas fa-edit"></i>
                                {{ title }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div id="div-socio-main"
                                     class= {% if form.socio_titular %}
                                         "col-lg-6">
                                     {% else %}
                                         "col-lg-12">
                                     {% endif %}
                                     <h5>Datos del socio</h5>
                                     <hr>
                                     <div class="form-group">
                                         <div class="input-group">
                                             {{ form.persona }}
                                             <div class="input-group-append">
                                                 <button class="btn btn-warning" type="button" name="btnAddPersona">
                                                     <i class="fas fa-user-pen"></i>
                                                 </button>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         {{ form.categoria }}
                                     </div>
                                </div>
                                <div id="div-socio-titular" class="col-lg-6">
                                    {% if form.socio_titular %}
                                        <h5>Datos del titular</h5>
                                        <hr>
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form.socio_titular }}
                                                <div class="input-group-append">
                                                    <a href="{% url 'admin-socio-detalle' socio_titular_id %}"
                                                       class="btn btn-info">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form.parentesco }}
                                            <small class="form-text text-muted">
                                                El socio es [...] del titular
                                            </small>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary profile-button" type="submit">Guardar Cambios</button>
                            <button class="btn btn-secondary" type="reset" onclick="resetForm()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="ModalEditPersona" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <form id="formPersona" method="post" enctype="multipart/form-data">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                            <b><i class="fas fa-user-plus"></i> Nuevo registro de una persona</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="{{ value }}">
                        <div class="form-group">
                            <label class="labels">{{ persona_form.dni.label }}</label>
                            {{ persona_form.dni }}
                        </div>
                        <div class="form-group">
                            <label class="labels">{{ persona_form.nombre.label }}</label>
                            {{ persona_form.nombre }}
                        </div>
                        <div class="form-group">
                            <label class="labels">{{ persona_form.apellido.label }}</label>
                            {{ persona_form.apellido }}
                        </div>
                        <div class="form-group">
                            <label class="labels">{{ persona_form.fecha_nacimiento.label }}</label>
                            <div class="input-group" id="div_id_fecha_nacimiento"
                                 data-target-input="nearest">
                                <input type="text" name="fecha_nacimiento" autocomplete="off"
                                       placeholder="Fecha de nacimiento"
                                       class="form-control  datetimepicker-input"
                                       data-toggle="datetimepicker" data-target="#id_fecha_nacimiento"
                                       required=""
                                       id="id_fecha_nacimiento">
                                <div class="input-group-append" data-target="#id_fecha_nacimiento"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="labels">{{ persona_form.sexo.label }}</label>
                            {{ persona_form.sexo }}
                        </div>
                        <div class="form-group">
                            <label class="labels">{{ persona_form.imagen.label }}</label><br>
                            {{ persona_form.imagen }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
{% block body_js %}
    <!-- Tempus Dominus -->
    <link href="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.css' %}" media="all"
          rel="stylesheet">
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'libs/tempusdominus-bootstrap-5.39/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script>
        // Script para activar los select2 del formulario de socio
        let select_persona = $('#id_persona');
        let persona_siendo_editada = select_persona.val()
        select_persona.select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione una persona',
            allowClear: true,
            language: 'es'
        });
        let select_categoria = $('#id_categoria');
        select_categoria.select2({
            theme: 'bootstrap4',
            allowClear: true,
            placeholder: 'Seleccione una categoria',
            width: '100%',
            language: 'es'
        });
        let select_socio_titular = $('#id_socio_titular');
        select_socio_titular.select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione un socio titular',
            allowClear: true,
            language: 'es'
        });
        $('#id_parentesco').select2({
            theme: 'bootstrap4',
            placeholder: 'Seleccione un parentesco',
            allowClear: true,
            width: '100%',
            language: 'es'
        });
    </script>
    <script>
        // Script para el formulario de socio
        $('#formSocio').on('submit', function (e) {
            e.preventDefault();
            select_persona.prop('disabled', false); // Al momento de enviar el formulario, se habilita el select de persona
                                                    // para que se envíe el valor, ya que si no se habilita, no se envía.
            select_socio_titular.prop('disabled', false); // Al momento de enviar el formulario, se habilita el select de socio
            // titular para que se envíe el valor, ya que si no se habilita, no se
            // envía.
            let form = new FormData(this);
            select_persona.prop('disabled', true); // Vuelvo a deshabilitar el select de persona para evitar que el usuario lo modifique
            select_socio_titular.prop('disabled', true); // Vuelvo a deshabilitar el select de socio titular para evitar que el usuario lo modifique
            form.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            form.append('action', '{{ action }}');
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: form,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (!data.hasOwnProperty('error')) {
                        window.location.pathname = '{% url 'admin-socio-listado' %}';
                    } else {
                        let errors = []
                        // Si data error es un objeto pushear los errores al array
                        if (typeof data.error === 'object') {
                            $.each(data.error, function (key, value) {
                                errors.push(value);
                            });
                        } else {
                            errors = data.error
                        }
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Ocurrió un error',
                            text: errors,
                            showConfirmButton: true,
                        })
                        document.body.classList.remove('swal2-height-auto');
                    }
                },
                error: function (data) {
                    alert('Error al guardar el socio');
                }
            });
        });

        // Función para resetear todos los valores del formulario
        function resetForm() {
            // Limpiar el formulario
            $('#id_persona').val(null).trigger('change');
            // Limpiar el select de categorias y deshabilitarlo
            $('#id_categoria').empty().prop('disabled', true);
        }
    </script>
    <script>
        // Evento para mostrar el modal de agregar persona
        $('button[name="btnAddPersona"]').on('click', function () {
            $('#id_fecha_nacimiento').datetimepicker({
                "format": "DD/MM/YYYY",
                "icons": {"time": "fa fa-clock-o"},
                "locale": "es-AR",
                "date": new Date('{{ socio.persona.get_fecha_nacimiento }}'),
                "minDate": "1900-01-01",
                "maxDate": Date.now(),
            });
            $('#id_sexo').select2({
                theme: 'bootstrap4',
                placeholder: 'Seleccione un sexo',
                allowClear: true,
                width: '100%',
                language: 'es'
            });
            $('#ModalEditPersona').modal('show');
        });
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: {
                'action': 'get_categoria',
                'persona': select_persona.val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                // Guardar la categoria actual
                let categoria_actual = select_categoria.val();
                // Limpiar el select
                select_categoria.empty();
                // Habilitar el select
                select_categoria.prop('disabled', false);
                // Agregar las categorias al select
                $.each(data, function (key, value) {
                    select_categoria.append('<option value="' + value.id + '">' + value.nombre + ' $' + value.cuota + '</option>');
                });
                // Recorrer las categorias del select
                select_categoria.find('option').each(function () {
                    // Si la categoria actual es igual a la categoria del select
                    if ($(this).val() === categoria_actual) {
                        // Seleccionar la categoria actual
                        $(this).prop('selected', true);
                    }
                });
            }
        });

        $('#formPersona').on('submit', function (e) {
            e.preventDefault();
            let form = new FormData(this);
            form.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            form.append('action', 'edit_persona');
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: form,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (!data.hasOwnProperty('error')) {
                        $('#ModalEditPersona').modal('hide');
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Bien hecho!',
                            text: 'Se ha modificado la persona correctamente',
                            showConfirmButton: false,
                            timer: 5000,
                            timerProgressBar: true,
                        })
                        document.body.classList.remove('swal2-height-auto');
                        // Actualizar el select de Categoria
                        $.ajax({
                            url: window.location.pathname,
                            type: 'POST',
                            data: {
                                'action': 'get_categoria',
                                'persona': select_persona.val(),
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            dataType: 'json',
                            success: function (data) {
                                // Guardar la categoria actual
                                let categoria_actual = select_categoria.val();
                                // Limpiar el select
                                select_categoria.empty();
                                // Habilitar el select
                                select_categoria.prop('disabled', false);
                                // Agregar las categorias al select
                                $.each(data, function (key, value) {
                                    select_categoria.append('<option value="' + value.id + '">' + value.nombre + ' $' + value.cuota + '</option>');
                                });
                                // Recorrer las categorias del select
                                select_categoria.find('option').each(function () {
                                    // Si la categoria actual es igual a la categoria del select
                                    if ($(this).val() === categoria_actual) {
                                        // Seleccionar la categoria actual
                                        $(this).prop('selected', true);
                                    }
                                });
                            }
                        });
                    } else {
                        let errors = []
                        // Si data error es un objeto pushear los errores al array
                        if (typeof data.error === 'object') {
                            $.each(data.error, function (key, value) {
                                errors.push(value);
                            });
                        } else {
                            errors = data.error
                        }
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Ocurrió un error',
                            text: errors,
                            showConfirmButton: true,
                        })
                        document.body.classList.remove('swal2-height-auto');
                    }
                },
                error: function (data) {
                    alert('Error al guardar la persona');
                }
            });
        });
    </script>
{% endblock body_js %}