{% extends "extends/user/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <div class="card-body">
                        <h5>Detalle de la Compra</h5>
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="center">#</th>
                                    <th><strong>Ticket</strong></th>
                                    <th class="text-right"><strong>Precio Unitario</strong></th>
                                    <th class="text-right"><strong>Cantidad</strong></th>
                                    <th class="text-right"><strong>Total</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="left strong">{{ item.ticket_variante.nombre }}</td>
                                        <td class="text-right">${{ item.get_precio_unit }}</td>
                                        <td class="text-right">{{ item.cantidad }}</td>
                                        <td class="text-right">${{ item.subtotal }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-7 ml-auto table-responsive">
                                <table class="table table-clear">
                                    <tbody>
                                    <tr>
                                        <td class="left">
                                            <strong>Subtotal</strong>
                                        </td>
                                        <td class="text-right">${{ venta_ticket.total }}</td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Descuento (0%)</strong>
                                        </td>
                                        <td class="text-right">$0,00</td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Total</strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>${{ venta_ticket.total }}</strong><br>
                                            <p class="text-muted text-right">{{ venta_ticket.get_TOTAL_letras }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {% if venta_ticket.pagado %}
                            <a href="{% url 'venta-ticket-comprobante' venta_ticket.id %}"
                               class="btn btn-outline-primary float-right">
                                <i class="fas fa-receipt"></i>
                                Comprobante de pago
                            </a>
                        {% else %}
                            <a href="{% url 'venta-ticket-pago' venta_ticket.id %}"
                               class="btn btn-primary">
                                <i class="fas fa-dollar-sign"></i>
                                Pagar orden
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Información del Evento</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="{{ venta_ticket.evento.get_imagen }}" alt="Imagen del Evento"
                             class="img-fluid rounded mx-auto d-block mb-3">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Nombre:</b> {{ venta_ticket.evento.nombre }}</li>
                            <li class="list-group-item"><b>Fecha de
                                inicio:</b> {{ venta_ticket.evento.get_start_datetime }}</li>
                            <li class="list-group-item"><b>Fecha de
                                finalización:</b> {{ venta_ticket.evento.get_end_datetime }}</li>
                            <li class="list-group-item"><b>Descripción:</b> {{ venta_ticket.evento.descripcion }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
{% endblock body_js %}
