{% extends "extends/user/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <div class="card-body">
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col" style="">Fecha de compra</th>
                                <th scope="col" style="">Evento</th>
                                <th scope="col" style="">Cantidad de tickets adquiridos</th>
                                <th scope="col" style="">Estado de pago</th>
                                <th scope="col" style="">Estado de evento</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for venta in ventas %}
                                <tr>
                                    <td>{{ venta.get_fecha_creacion }}</td>
                                    <td>{{ venta.evento }}</td>
                                    <td>{{ venta.get_related_objects.count }}</td>
                                    <td>{{ venta.get_ESTADO_PAGO_display }}</td>
                                    <td>{{ venta.evento.get_ESTADO_display }}</td>
                                    <td>
                                        <a href="{% url 'venta-ticket-detalle' venta.pk %}" class="btn btn-sm btn-info">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a href="{% url 'venta-ticket-comprobante' venta.pk %}"
                                           class="btn btn-sm btn-outline-primary" target="_blank">
                                            <i class="fas fa-receipt"></i>
                                        </a>
                                        <a href="{% url 'tickets-listado' venta.pk %}"
                                           class="btn btn-sm btn-primary">
                                            <i class="fas fa-ticket"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">Fecha de compra</th>
                                <th scope="col" style="">Evento</th>
                                <th scope="col" style="">Cantidad de tickets adquiridos</th>
                                <th scope="col" style="">Estado de pago</th>
                                <th scope="col" style="">Estado de evento</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {# DataTable #}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/datatables.css' %}"/>
    <script type="text/javascript" src="{% static 'libs/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/DataTables/Select-1.5.0/js/dataTables.select.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.13.2/sorting/datetime-moment.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD/MM/YYYY HH:mm');
            $('#dataTable').DataTable({
                language: {
                    url: '{% static 'libs/datatables/es-ES.json' %}'
                },
                columnDefs: [ // Quitarle estilos a la ultima columna
                    {"orderable": false, "targets": -1}
                ],
                responsive: true,
                order: [[0, 'desc']],
                autoWidth: false
            });
        });
    </script>
{% endblock body_js %}