{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'miembro-listado' %}">Miembros</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center text-center mb-3">
                    <img class="rounded-circle mt-5"
                         src="{{ miembro.persona.get_imagen }}" alt="" style="max-width: 300px">
                </div>
            </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 class="card-title">{{ title }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Categoria: </b>{{ miembro.categoria }}</li>
                            <li class="list-group-item"><b>DNI: </b>{{ miembro.persona.dni }}</li>
                            <li class="list-group-item"><b>Nombre completo: </b>{{ miembro.persona.get_full_name }}</li>
                            <li class="list-group-item"><b>Sexo: </b>{{ miembro.persona.sexo }}</li>
                            <li class="list-group-item"><b>Edad: </b>{{ miembro.persona.get_edad }}</li>
                            {% if miembro.get_user %}
                                <li class="list-group-item"><b>Usuario: </b>{{ miembro.persona.user.username }}</li>
                                <li class="list-group-item"><b>Email: </b>{{ miembro.persona.user.email }}</li>
                                <li class="list-group-item">
                                    <b>Fecha de creación: </b>{{ miembro.persona.user.date_joined }}
                                </li>
                                <li class="list-group-item">
                                    <b>Último inicio de sesión: </b>
                                    {% if not miembro.persona.user.last_login %}
                                        <span>Aún no ha iniciado sesión</span>
                                    {% else %}
                                        {{ miembro.persona.user.last_login }}
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'miembro-editar' miembro.pk %}" class="btn btn-warning mr-2">
                            <i class="fa-solid fa-edit"></i> Editar
                        </a>
                        <a href="javascript:history.back()" class="btn btn-secondary">
                            <i class="fa-solid fa-rotate-left"></i> Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {% include 'includes/dataTable.html' %}
{% endblock body_js %}