{% extends "extends/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">Miembros Registrados</h3>
                    </div>
                    <div class="card-body">
                        <table id="dataTable" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Socio a cargo</th>
                                <th scope="col" style="">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for miembro in miembros %}
                                <tr>
                                    <td>{{ miembro.pk }}</td>
                                    <td>{{ miembro.persona.dni }}</td>
                                    <td>{{ miembro.persona.get_full_name }}</td>
                                    <td>{{ miembro.persona.get_edad }}</td>
                                    <td>{{ miembro.categoria }}</td>
                                    <td>{{ miembro.socio }}</td>
                                    {% if not miembro.is_deleted %}
                                        <td>
                                            <a href="{% url 'miembro-detalle' miembro.pk %}"
                                               class="btn btn-info btn-sm">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a href="{% url 'miembro-editar' miembro.pk %}"
                                               class="btn btn-warning btn-sm">
                                                <i class="fa-solid fa-edit"></i>
                                            </a>
                                            <a href="{% url 'miembro-eliminar' miembro.pk %}"
                                               class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{% url 'miembro-restaurar' miembro.pk %}"
                                               class="btn btn-success btn-sm">
                                                <i class="fa-solid fa-rotate-left"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" style="">#</th>
                                <th scope="col" style="">DNI</th>
                                <th scope="col" style="">Nombre completo</th>
                                <th scope="col" style="">Edad</th>
                                <th scope="col" style="">Categoría</th>
                                <th scope="col" style="">Socio a cargo</th>
                                <th scope="col" style="">Acciones</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_js %}
    {% include 'includes/dataTable.html' %}
{% endblock body_js %}
